<section id="bring-together" class="bg-primary bg-image bg-image-section" style="background-image: url(/img/airbel-pencil-cta.jpg)">
  <div class="container">
    <div class="row justify-content-end align-items-center">
      <div class="col-md-8">
        <div class="content">
          <p>We develop new solutions to better serve people suffering the effects of conflict and crisis.</p>
        </div>
        {% unless page.title == 'Get In Touch' %}
        <div class="content text-lg-right">
          <a href="/get-in-touch" class="btn btn-dark">Contact us to get involved</a>
        </div>
        {% endunless %}
      </div>
    </div>
  </div>
</section>