<section id="bring-together" class="bg-warning bg-image bg-image-section" style="background-image: url(/assets/img/airbel-pencil-cta.jpg)">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="content">
          <p>Airbel brings together multidisciplinary teams of experts drawn from inside and outside of the IRC - <mark class="bg-dark text-white">blending human-centered design, machine-learning, and behavioral insights with on-the-ground expertise</mark> - to have a meaningful impact in some of the most challenging places around the world.</p>
        </div>
      </div>
    </div>
  </div>
</section>