<footer id="page-footer" class="bg-dark bg-image bg-image-section" style="background-image: url(/assets/img/airbel-footer-illustration.png)">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="content">
          <img src="/assets/img/airbel-footer-logo.svg" class="footer-logo img-fluid" alt="Airbel Center Logo">
          <div class="social-nav mt-lg-5">
            Connect with Us
            <a href="https://twitter.com/airbel?lang=en" target="blank">Twitter</a>
            <a href="https://medium.com/airbel" target="_blank">Medium</a>
            <a href="#">RSS</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="content">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link">Contact Us</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Quarterly Report</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Join the Team</a>
            </li>
          </ul>
          <ul class="nav flex-column mt-3">  
            <li class="nav-item">
              <a href="#" class="nav-link">Explore the IRC</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Volunteer with the IRC</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Donate to the IRC</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="content text-md-right">
          <img src="/assets/img/airbel-IRC-footer.svg" class="img-fluid w-75" alt="IRC Logo">
        </div>
      </div>
    </div>
  </div>
</footer>