<footer id="page-footer" class="bg-dark bg-image bg-image-section" style="background-image: url(/assets/img/airbel-footer-illustration.png)">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="content">
          <img src="/assets/img/airbel-footer-logo.svg" class="footer-logo img-fluid mb-lg-5" alt="Airbel Center Logo">
          <div class="social-nav mt-5">
            Connect with Us
            <a href="https://twitter.com/airbel?lang=en" target="blank"><img src="/assets/img/airbel-twitter-icon.svg" class="img-fluid" alt="Twitter Icon"></a>
            <a href="https://medium.com/airbel" target="_blank"><img src="/assets/img/airbel-medium-icon.svg" class="img-fluid" alt="Medium Icon"></a>
            <a href="#"><img src="/assets/img/airbel-podcast-icon.svg" class="img-fluid" alt="RSS Icon"></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="content">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="/get-in-touch" class="nav-link pt-0">Contact Us</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Quarterly Report</a>
            </li>
            <li class="nav-item">
              <a href="https://www.rescue.org/careers" class="nav-link" target="_blank">Join the Team</a>
            </li>
          </ul>
          <ul class="nav flex-column mt-3">  
            <li class="nav-item">
              <a href="https://www.rescue.org" class="nav-link" target="_blank">Explore the IRC</a>
            </li>
            <li class="nav-item">
              <a href="https://www.rescue.org/volunteer" class="nav-link" target="_blank">Volunteer with the IRC</a>
            </li>
            <li class="nav-item">
              <a href="https://help.rescue.org/donate?ms=ws_resq_top_nav_btn_161010&initialms=ws_resq_top_nav_btn_161010" class="nav-link" target="_blank">Donate to the IRC</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="content text-md-right">
          <a href="https://www.rescue.org"></a>
          <img src="/assets/img/airbel-IRC-footer.svg" class="img-fluid footer-irc-logo" alt="IRC Logo">
        </div>
      </div>
    </div>
  </div>
</footer>