<header id="page-header">
  <div class="container">
    <nav id="mainnav" class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="/"><img src="/assets/img/airbel-header-logo.svg" class="img-fluid" alt="Airbel Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primarynav" aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-end" id="primarynav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link{% if page.url == '/portfolio/' %} active{% endif %}" href="/portfolio">Portfolio {% if page.url == '/portfolio/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if page.url == '/team/' %} active{% endif %}" href="/team">Team {% if page.url == '/team/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/airbel" target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-dark{% if page.url == '/get-in-touch/' %} active{% endif %}" href="/get-in-touch">Get In Touch {% if page.url == '/get-in-touch/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.rescue.org/" target="_blank"><img src="/assets/img/airbel-irc-header.svg" alt="IRC Logo"></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
