<!-- <div class="project-visualizer nav nav-tabs">
  <div class="row no-gutters">
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <div class="phase-heading">
            Design
          </div>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-md-4">
          <a class="phase-sub-heading nav-link" href="#research" id="research-tab" data-toggle="tab" role="tab" aria-controls="research" aria-selected="true">
            Research
          </a>
        </div>
        <div class="col-md-4">
          <a class="phase-sub-heading nav-link" href="#solutions" id="solutions-tab" data-toggle="tab" role="tab" aria-controls="solutions" aria-selected="false">
            Generate<br>Solutions
          </a>
        </div>
        <div class="col-md-4">
          <a class="phase-sub-heading nav-link" href="#prototype" id="prototype-tab" data-toggle="tab" role="tab" aria-controls="prototype" aria-selected="false">
            Prototype
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <div class="phase-heading">
            Test
          </div>
        </div>
      </div>
      <div class="row align-items-center no-gutters">
        <div class="col-md-6">
          <a class="phase-sub-heading nav-link" href="#pilot" id="pilot-tab" data-toggle="tab" role="tab" aria-controls="pilot" aria-selected="false">
            Pilot
          </a>
        </div>
        <div class="col-md-6">
          <a class="phase-sub-heading nav-link" href="#evaluation" id="evaluation-tab" data-toggle="tab" role="tab" aria-controls="evaluation" aria-selected="false">
            Rigorous<br>Evaluation
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col">
          <div class="phase-heading">
            Scale
          </div>
        </div>
      </div>
      <div class="row nav nav-tabs">
        <div class="col">
          <a class="phase-sub-heading nav-link" href="#scale" id="scale-tab" data-toggle="tab" role="tab" aria-controls="scale" aria-selected="false">
            Scale
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->



<ul class="nav nav-tabs" id="nav-project-views" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true"><img src="/assets/img/airbel-list-icon.svg" class="img-fluid" alt="List Icon"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="grid-tab" data-toggle="tab" href="#grid" role="tab" aria-controls="grid" aria-selected="false"><img src="/assets/img/airbel-grid-icon.svg" class="img-fluid" alt="Grid Icon"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="graduated-tab" data-toggle="tab" href="#graduated" role="tab" aria-controls="graduated" aria-selected="false">Discontinued</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="discontinued-tab" data-toggle="tab" href="#discontinued" role="tab" aria-controls="discontinued" aria-selected="false">Graduated</a>
  </li>
</ul>
  
  <!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="list" role="tabpanel" aria-labelledby="list-tab">
    <div id="phase-headings">
      <span>Design</span>
      <span>Test</span>
      <span>Scale</span>
    </div>
    <div id="project-nav" class="nav nav-tabs">
      <a class="phase-sub-heading nav-link active" href="#research" id="research-tab" data-toggle="tab" role="tab" aria-controls="research" aria-selected="true">
        Research
      </a>
      <a class="phase-sub-heading nav-link" href="#solutions" id="solutions-tab" data-toggle="tab" role="tab" aria-controls="solutions" aria-selected="false">
        Generate<br>Solutions
      </a>
      <a class="phase-sub-heading nav-link" href="#prototype" id="prototype-tab" data-toggle="tab" role="tab" aria-controls="prototype" aria-selected="false">
        Prototype
      </a>
      <a class="phase-sub-heading nav-link" href="#pilot" id="pilot-tab" data-toggle="tab" role="tab" aria-controls="pilot" aria-selected="false">
        Pilot
      </a>
      <a class="phase-sub-heading nav-link" href="#evaluation" id="evaluation-tab" data-toggle="tab" role="tab" aria-controls="evaluation" aria-selected="false">
        Rigorous<br>Evaluation
      </a>
      <a class="phase-sub-heading nav-link" href="#scale" id="scale-tab" data-toggle="tab" role="tab" aria-controls="scale" aria-selected="false">
          Scale
        </a>
    </div>
    <div id="project-tab-content" class="tab-content">
      <div id="research" class="tab-pane fade show active">
        {% assign research_projects = site.projects | where: "stage", "2. Design / Research" %}
        {% assign num_research_projects = research_projects | size %}
        {% if num_research_projects < 1 %}
          <div class="d-flex align-items-center justify-content-center bg-light p-5">There are currently no projects in the Research phase</div>
        {% else %}
        {% for project in research_projects %}
        <div class="row no-gutters bg-light project-summary-row border-success">
          <div class="col-md-4">
            <div class="content">
              <p class="mb-0"><em>{{ project.focus }}</em></p>
              <h4 class="mb-0">{{ project.title }}</h4>
              <p class="mb-0">{{ project.geolocation.region }}</p>
              {{ project.stage }}
            </div>
          </div>
          <div class="col-md-5">
            <div class="content">
              <p class="mb-0">{{ project.description | truncatewords: 30 }}</p>
            </div>
          </div>
          <a href="{{ project.url }}" class="btn">Find out more</a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div id="solutions" class="tab-pane fade">
        {% assign solution_projects = site.projects | where: "stage", "3. Design / Solution Generation" %}
        {% assign num_solution_projects = solution_projects | size %}
        {% if num_solution_projects < 1 %}
          <div class="d-flex align-items-center justify-content-center bg-light p-5">There are currently no projects in the Solution phase</div>
        {% else %}
        {% for project in solution_projects %}
        <div class="row no-gutters bg-light project-summary-row border-success">
          <div class="col-md-4">
            <div class="content">
              <p class="mb-0"><em>{{ project.focus }}</em></p>
              <h4 class="mb-0">{{ project.title }}</h4>
              <p class="mb-0">{{ project.geolocation.region }}</p>
              {{ project.stage }}
            </div>
          </div>
          <div class="col-md-5">
            <div class="content">
              <p class="mb-0">{{ project.description | truncatewords: 30 }}</p>
            </div>
          </div>
          <a href="{{ project.url }}" class="btn">Find out more</a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div id="prototype" class="tab-pane fade">
        {% assign prototype_projects = site.projects | where: "stage", "4. Design / Prototype" %}
        {% assign num_prototype_projects = prototype_projects | size %}
        {% if num_prototype_projects < 1 %}
          <div class="d-flex align-items-center justify-content-center bg-light p-5">There are currently no projects in the Prototype phase</div>
        {% else %}
        {% for project in prototype_projects %}
        <div class="row no-gutters bg-light project-summary-row border-success">
          <div class="col-md-4">
            <div class="content">
              <p class="mb-0"><em>{{ project.focus }}</em></p>
              <h4 class="mb-0">{{ project.title }}</h4>
              <p class="mb-0">{{ project.geolocation.region }}</p>
              {{ project.stage }}
            </div>
          </div>
          <div class="col-md-5">
            <div class="content">
              <p class="mb-0">{{ project.description }}</p>
            </div>
          </div>
          <a href="{{ project.url }}" class="btn">Find out more</a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div id="pilot" class="tab-pane fade">
        {% assign pilot_projects = site.projects | where: "stage", "5. Test / Pilot" %}
        {% assign num_pilot_projects = pilot_projects | size %}
        {% if num_projects < 1 %}
          <div class="d-flex align-items-center justify-content-center bg-light p-5">There are currently no projects in the Pilot phase</div>
        {% else %}
        {% for project in pilot_projects %}
        <div class="row no-gutters bg-light project-summary-row border-success">
          <div class="col-md-4">
            <div class="content">
              <p class="mb-0"><em>{{ project.focus }}</em></p>
              <h4 class="mb-0">{{ project.title }}</h4>
              <p class="mb-0">{{ project.geolocation.region }}</p>
              {{ project.stage }}
            </div>
          </div>
          <div class="col-md-5">
            <div class="content">
              <p class="mb-0">{{ project.description | truncatewords: 30 }}</p>
            </div>
          </div>
          <a href="{{ project.url }}" class="btn">Find out more</a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div id="evaluation" class="tab-pane fade">
        {% assign evaluation_projects = site.projects | where: "stage", "6. Test / Rigorous evaluation" %}
        {% assign num_evaluation_projects = evaluation_projects | size %}
        {% if num_evaluation_projects < 1 %}
          <div class="d-flex align-items-center justify-content-center bg-light p-5">There are currently no projects in the Evaluation phase</div>
        {% else %}
        {% for project in evaluation_projects %}
        <div class="row no-gutters bg-light project-summary-row border-success">
          <div class="col-md-4">
            <div class="content">
              <p class="mb-0"><em>{{ project.focus }}</em></p>
              <h4 class="mb-0">{{ project.title }}</h4>
              <p class="mb-0">{{ project.geolocation.region }}</p>
              {{ project.stage }}
            </div>
          </div>
          <div class="col-md-5">
            <div class="content">
              <p class="mb-0">{{ project.description | truncatewords: 30 }}</p>
            </div>
          </div>
          <a href="{{ project.url }}" class="btn">Find out more</a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div id="scale" class="tab-pane fade">
        {% assign scale_projects = site.projects | where: "stage", "7. Scale" %}
        {% assign num_scale_projects = scale_projects | size %}
        {% if num_scale_projects < 1 %}
          <div class="d-flex align-items-center justify-content-center bg-light p-5">There are currently no projects in the Scale phase</div>
        {% else %}
        {% for project in scale_projects %}
        <div class="row no-gutters bg-light project-summary-row border-success">
          <div class="col-md-4">
            <div class="content">
              <p class="mb-0"><em>{{ project.focus }}</em></p>
              <h4 class="mb-0">{{ project.title }}</h4>
              <p class="mb-0">{{ project.geolocation.region }}</p>
              {{ project.stage }}
            </div>
          </div>
          <div class="col-md-5">
            <div class="content">
              <p class="mb-0">{{ project.description | truncatewords: 30 }}</p>
            </div>
          </div>
          <a href="{{ project.url }}" class="btn">Find out more</a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="tab-pane" id="grid" role="tabpanel" aria-labelledby="grid-tab">
    {% include project-grid.html %}
  </div>
  <div class="tab-pane" id="graduated" role="tabpanel" aria-labelledby="graduated-tab">
    Graduated Projects
  </div>
  <div class="tab-pane" id="discontinued" role="tabpanel" aria-labelledby="discontinued-tab">
    Discontinued Projects
  </div>
</div>