<div class="project-visualizer">
  <div class="row no-gutters">
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <div class="phase-heading">
            Design
          </div>
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="col-md-4">
          <div class="phase-sub-heading">
            Research
          </div>
        </div>
        <div class="col-md-4">
          <div class="phase-sub-heading">
            Generate<br>Solutions
          </div>
        </div>
        <div class="col-md-4">
          <div class="phase-sub-heading">
            Prototype
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <div class="phase-heading">
            Test
          </div>
        </div>
      </div>
      <div class="row align-items-center no-gutters">
        <div class="col-md-6">
          <div class="phase-sub-heading">
            Pilot
          </div>
        </div>
        <div class="col-md-6">
          <div class="phase-sub-heading">
            Rigorous<br>Evaluation
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col">
          <div class="phase-heading">
            Scale
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="phase-sub-heading ">
            Scale
          </div>
        </div>
      </div>
    </div>
  </div>
</div>