<div class="row">
  <div class="col-md-6">
    <div class="content">
      <div class="editable">
        <h2>Become a fellow</h2>
        <p>We are pleased to offer student fellowships through a partnership with the <a href="https://zolberginstitute.org">Zolberg Institute</a> at the New School.</p>
      </div>
      <a href="https://zolberginstitute.org/fellowships/" class="btn btn-dark">Learn More</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="content">
      <div class="editable">
        <h2>Work with us</h2>
        <p>Are you a design or systems thinker interested in solving global humanitarian challenges? <a class="cc-active" href="/get-in-touch">Get in touch</a> or see current openings at IRC.</p>
      </div>
      <a href="https://www.rescue.org/careers" target="_blank" class="btn btn-dark">IRC Careers</a>
    </div>
  </div>
</div>