<div class="row">
  <div class="col-md-6">
    <div class="content">
      <div class="editable">
        <h2>Become a Fellow</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil necessitatibus eaque fugit, tempore excepturi,
          pariatur culpa rem ullam nostrum reprehenderit alias, cum voluptatem iusto quo?</p>
      </div>
      <a href="https://www.rescue.org/careers" class="btn btn-dark">Apply</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="content">
      <div class="editable">
        <h2>Work with Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil necessitatibus eaque fugit, tempore excepturi,
          pariatur culpa rem ullam nostrum reprehenderit alias, cum voluptatem iusto quo?</p>
      </div>
      <a href="https://www.rescue.org/careers" target="_blank" class="btn btn-dark">Join the Team</a>
    </div>
  </div>
</div>