#page-footer {
  color: $white;
  padding: 30px 0;
  a {
    color: $white;
  }
  .nav-link {
    padding: 5px 0;
  }

  .social-nav {
    display: flex;
    align-items: center;
    a {
      width: 35px;
      margin-left: 10px;
      margin-right: 10px;
      @include transition(.4s);
      &:hover {
        opacity: .7;
      }
      &:nth-of-type(1) {
        margin-left: 20px;
      }
    }
  }
  
  .footer-logo {
    width: 415px;
  }
  
  .footer-irc-logo {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}



// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {
  #page-footer {
    padding: 75px 0;
    .nav-link {
      padding: 5px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {
  .footer-irc-logo {
    width: 100%;
    margin-left: auto;
  }
}
