#page-header {
  .navbar-brand {
    width: 200px;
  }
  .nav-item {
    padding-left: 8px;
    padding-right: 8px;
    &:last-of-type {
      .nav-link {
        padding: 0;
        width: 43px;
        margin-left: auto;
        &::after {
          display: none;
        }
      }
    }
  }
  .nav-link {
    font-family: $motiva-sans;
    color: $white;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

#mainnav {
  padding: 0 20px;
}

#primarynav {
  margin-left: -20px;
  margin-right: -20px;
  background-image: url('/assets/img/airbel-footer-illustration.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: $dark;
  padding: 20px;
  text-align: right;
}

.navbar-toggler {
  border: 0;
  .bar {
    width: 21px;
    height: 4px;
    background-color: $dark;
    display: block;
    margin: 3px auto;
  }
}


@media (max-width: $screen-sm-max) {
  #page-header {
    .container {
      padding-left: 0;
      padding-right: 0;
      max-width: 100%;
    }
  }
}

@media (min-width: $screen-md-min) {
  #page-header {
    padding-top: 20px;
    padding-bottom: 20px;
    .navbar-brand {
      width: 200px;
    }
    .nav-item {
      &:last-of-type {
        margin-left: 0;
      }
    }
    .nav-link {
      color: $dark;
      @include transition(.4s);
      position: relative;
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 100%;
        width: 100%;
        height: 2px;
        background-color: $dark;
        @include transition(.4s);
      }
      &.active,
      &:hover {
        &::after {
          left: 0;
        }
      }
      &.bg-dark {
        color: $white;
        margin-left: 10px;
        margin-right: 10px;
        &::after {
          display: none;
        }
        &:hover {
          background-color: $yellow !important;
        }
      }
    }
  }
  #primarynav {
    margin-left: 0;
    margin-right: 0;
    background-image: none;
    background-color: transparent;
    padding: 0;
    text-align: left;
  }

  #mainnav {
    padding: 0;
  }
}

@media (min-width: $screen-lg-min) {
  #page-header {
    .navbar-brand {
      width: 350px;
    }
  }
}
