#page-header {
  .navbar-brand {
    width: 200px;
  }
  .nav-item {
    padding-left: 8px;
    padding-right: 8px;
  }
  .nav-link {
    font-family: $motiva-sans;
    color: $dark;
    padding-top: 5px;
    padding-bottom: 5px; 
    &.bg-dark {
      color: $white;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {
  #page-header {
    padding-top: 20px;
    padding-bottom: 20px;
    .navbar-brand {
      width: 275px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
