#page-footer {
  color: $white;
  a {
    color: $white;
  }
  .nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.social-nav {
  display: flex;
  align-items: center;
  a {
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
    @include transition(.4s);
    &:hover {
      opacity: .7;
    }
    &:nth-of-type(1) {
      margin-left: 20px;
    }
  }
}

.footer-logo {
  width: 415px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {
  #page-footer {
    padding: 75px 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
