#how {
  h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 7px 10px;
    color: $white;
  }
  .bg-image {
    background-size: contain;
    margin: -20px auto;
    max-width: 70%;
  }
}