body {
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $white;
  font-family: "akzidenz-grotesk", sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5
h6,
.h6 {
  @include transition(.5s);
  font-family: $commuter-sans;
  font-weight: 800;
}

a,
.stage-heading,
p {
  @include transition(.7s);
}

a {
  &:hover {
    color: $dark;
  }
}

.wf-loading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  .stage-heading,
  p {
    opacity: 0;
  }
}

.wf-active,
.wf-inactive {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  .stage-heading,
  button,
  p {
    opacity: 1;
  }
}

h1,
.h1 {
  font-family: "akzidenz-grotesk", sans-serif;
  font-weight: 900;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: 0;
  small {
    font-size: 65%;
  }
}

h2,
.h2 {
  font-family: "akzidenz-grotesk", sans-serif;
  font-size: 2.1rem;
  letter-spacing: 0;
}

h3,
.h3 { 
  font-size: 1.3rem;
  font-weight: 400;
}
h4,
.h4 { 
  font-weight: 400; 
  font-size: 1.2rem;
}

