%clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

// Spacing
.content {
  @extend %clearfix;
  padding: 20px;
  position: relative;
}

iframe {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.external-link {
  &:hover {
    &::after {
      opacity: .7;
    }
  }
  &::after {
    content: '';
    background-image: url('/img/airbel-externallink-indicator.svg');
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-left: 10px;
    @include transition(.3s);
  }
}

.text-underline {
  text-decoration: underline !important;
}

.text-dark {
  color: $dark;
}

.text-light {
  color: $light;
}

.text-orange {
  color: $orange;
}

// Background images
.bg-image {
  display: block;
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &.bg-image-section {
    height: auto;
    &.repeat-y {
      background-repeat: repeat-y;
      background-size: auto;
    }
  }
  &.aspect-5x7 {
    padding-top: 120%;
  }
  &.aspect-1x1 {
    padding-top: 100%;
  }
  &.aspect-4x3 {
    padding-top: 66%;
  }
  &.aspect-16x9 {
    padding-top: 56.25%;
  }
  &.aspect-wide {
    padding-top: 33%;
  }
  &.aspect-border {
    padding-top: 5%;
  }
  &.underlay {
    z-index: 10;
    position: relative;
    box-shadow: 11px 14px 0 $orange;
  }
}

.overflow-hidden {
  overflow: hidden;
}

//color utilities
.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-dark {
  background-color: $dark !important;
}

.bg-light {
  background-color: $light !important;
}

.bg-gray-alt {
  background-color: $gray-alt;
}

.bg-education,
.bg-blue {
  background-color: $blue !important;
}

.border-education,
.border-blue {
  border-color: $blue !important;
}

.bg-orange,
.bg-resettlement,
.bg-empowerment {
  background-color: $orange !important;
}

.border-orange,
.border-resettlement,
.border-empowerment {
  border-color: $orange !important;
}

.bg-blue-dark,
.bg-employment,
.bg-economic-wellbeing {
  background-color: $blue-dark;
}
.border-blue-dark,
.border-employment,
.border-economic-wellbeing {
  border-color: $blue-dark !important;
}

.bg-green,
.bg-nutrition,
.bg-health {
  background-color: $green !important;
}
.border-nutrition,
.border-green,
.border-health {
  border-color: $green !important;
}

.bg-red,
.bg-safety {
  background-color: $red !important;
}
.border-safety,
.border-red {
  border-color: $red !important;
}

.bg-purple,
.bg-other {
  background-color: $purple !important;
}

.border-purple,
.border-other {
  border-color: $purple !important;
}

.bg-yellow,
.bg-financing {
  background-color: $yellow !important;
}

.border-financing,
.border-yellow {
  border-color: $yellow !important;
}

.bg-yellow-mid {
  background-color: $yellow-mid !important;
}

.bg-yellow-dark {
  background-color: $yellow-dark !important;
}

.bg-mid {
  background-color: $gray-400 !important;
}

mark {
  font-family: $commuter-sans;
  padding: 5px 0;
  box-decoration-break: clone;
  &.bg-primary {
    box-shadow: 4px 0 0 $yellow, -4px 0 0 $yellow;
  }
  &.bg-dark {
    box-shadow: 4px 0 0 $dark, -4px 0 0 $dark;
  }
  &.bg-white {
    box-shadow: 4px 0 0 $white, -4px 0 0 $white;
  }
}
