

.bg-right {
  background-position: right top;
} 

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-plus {
  background-image: url(/assets/img/bg-plus-grid.png);
}