.bg-top {
  background-position-y: top;
}

.bg-bottom {
  background-position-y: bottom;
}

.bg-right {
  background-position-x: right;
}

.bg-left {
  background-position-x: left;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-single-plus {
  background-image: url('/assets/img/airbel-single-pluses.png');
}

.bg-multi-plus {
  background-image: url('/assets/img/airbel-vertical-pluses.png');
}
