.bordered-col {
  border-top: 60px solid rgba(254, 201, 56, .7);
  border-right: 60px solid rgba(254, 201, 56, .7);
  margin-top: 70px;
  padding-right: 0;
  padding-left: 0;
  .content {
    background-color: $white;
    padding-left: 100px;
    h1 {
      margin-top: -40px;
      font-family: $motiva-sans;
      font-weight: 900;
    }
  }
  
}