.bordered-col {
  
  margin-top: 100px;
  padding-right: 0;
  padding-left: 0;
  .content {
    position: relative;
    z-index: 10;
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: -60px;
      right: -60px;
      width: 500%;
      height: 150%;
      background-color: $white;
      border-top: 60px solid rgba(254, 201, 56, .7);
      border-right: 60px solid rgba(254, 201, 56, .7);
      z-index: -1;
    }
    h1 {
      font-family: $motiva-sans;
      font-weight: 900;
      font-size: 50px;
    }
  }
  
}