.cognito {
  max-width: 100% !important;
  .c-forms-form {
    max-width: 100% !important;
    .c-forms-heading {
      display: none;
    }
    .c-label {
      @extend .sr-only;
    }
    .c-editor {
      padding-left: 0;
    }
    input[type="text"],
    input[type="email"],
    select,
    textarea {
      padding: 15px;
      color: $gray-600;
      font-family: $commuter-sans;
      font-weight: 600;
      border: 1px solid $dark;
    }
    ::placeholder {
      color: $dark;
      font-family: $commuter-sans;
    }
    .c-validation {
      border-radius: 0;
      margin: 0 8px 0 0;
      padding: 3px 5px;
      background-color: $yellow !important;
    }
  }

  .c-forms-confirmation-message {
    padding: 30px !important;
    text-align: center;
    color: $dark;
    background-color: $yellow;
    font-size: 21px !important;
  }

  #c-submit-button {
    @extend .btn;
    @extend .btn-warning;
    margin-left: 0;
    margin-right: 0;
  }
}
