.cognito {
  .c-forms-form {
    max-width: 100% !important;
    .c-forms-heading {
      display: none;
    }
  }

  .c-label {
    @extend .sr-only;
  }
  .c-editor {
    padding-left: 0;
  }
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    padding: 15px;
    border: 0;
    color: $gray-600;
  }

  .c-validation {
    border-radius: 0;
    margin: 0 8px 0 0;
    padding: 3px 5px;
  }

  .c-forms-confirmation-message {
    padding: 30px !important;
    text-align: center;
    color: $gray-600;
    background-color: $gray-300;
    font-size: 21px !important;
  }

  #c-submit-button {
    @extend .btn;
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
  }
}
