.project-grid {
  margin-left: -3px;
  margin-right: -3px;
  .phase-heading {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $yellow;
    margin-left: 3px;
    margin-right: 3px;
  }
  .phase-sub-heading {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-200;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .box-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 120px;
    background-color: $gray-100;
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.box {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.grid-key {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  .key-item {
    display: flex;
    align-items: center;
    .box {
      margin-left: 0;
    }
  }
}