.project-visualizer {
  margin-left: -3px;
  margin-right: -3px;
  .phase-heading {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $yellow;
    margin-left: 3px;
    margin-right: 3px;
  }
  .phase-sub-heading {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-200;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .box-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 120px;
    background-color: $gray-100;
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.box {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.grid-key {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  .key-item {
    display: flex;
    align-items: center;
    .box {
      margin-left: 0;
    }
  }
}

#phase-headings {
  display: flex;
  justify-content: space-between;
  span {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $yellow;
    color: $white;
    &:nth-of-type(1) {
      width: 49.6%;
      background-color: $yellow;
    }
    &:nth-of-type(2) {
      width: 32.7%;
      background-color: $yellow-mid;
    }
    &:nth-of-type(3) {
      width: 16%;
      background-color: $yellow-dark;
    }
  }
}

#project-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 0;
  .nav-link {
    width: 16%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-200;
    padding-left: 15px;
    padding-right: 15px;
    color: $dark;
    border: 0;
    &.active {
      background-color: $yellow;
      border: 0;
    }
  }
}

#nav-project-views {
  border: 0;
  .nav-link {
    color: $dark;
    opacity: .4;
    border: 0;
    &.active, &:hover {
      opacity: 1;
      background-color: transparent;
      border: 0;
    }
    img {
      width: 25px;
    }
  }
}

.project-summary-row {
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
  border-left: 10px solid;
  position: relative;
  h4 {
    font-weight: 400;
  }
  .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 10px 0 0 10px;
    border-style: solid;
    border-color: $white;
    background-color: $gray-400;
    color: $dark;
  }
}