<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.layout }}-template">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPW7THH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="page">
      {% include header.html %}
      <main id="page-content">
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
