---
layout: default
---
{% assign project = page %}

{% include project/hero.html %}

<section class="bg-single-plus bg-right bg-no-repeat pt-0">
  {% include project/details.html %}
</section>

<section>
  <div class="container">

    {% include project/featured_video.html %}

    <div class="row">
      <div class="col-12">
        <div class="content">
          {{content}}
        </div>
      </div>
    </div>
  </div>
</section>

{% include project/timeline.html %}



{% include project/resources.html %}

{% include bring-together.html %}