body {
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-base;
  line-height: 1.8;
  letter-spacing: 1px;
}

.wf-loading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  li,
  span,
  button,
  .stage-heading,
  p {
    opacity: 0;
    @include transition(.5s);
  }
}

.wf-active {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  li,
  span,
  .stage-heading,
  button,
  p {
    opacity: 1;
  }
}

h1 {
  font-family: $motiva-sans;
  font-weight: 900;
  margin-bottom: 2rem;
}

h3 { font-weight: 400; }
