#focus-tabs {
  border: 0;
  .nav-item {
    background-color: $gray-100;
    margin-bottom: 5px;
    .nav-link {
      color: $black;
      padding-left: 30px;
      border: 0;
      font-family: $commuter-sans;
      border-radius: 0;
      &.active {
        background-color: $gray-100;
        border-left: 10px solid;
      }
    }
  }
}

#focus-tab-content {
  .tab-pane {
    padding: 30px 30px 50px;
    color: $white;
    .btn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      border-style: solid;
      border-color: $white;
      border-width: 10px 0 0 10px;
    }
    h3 {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        margin-right: 15px;
      }
    }
  }
}

#focus-tabs-accordion {
  .card-block {
    margin-bottom: 5px;
  }
  .card-title {
    margin-bottom: 0;
    .nav-link {
      &::after {
        content: "";
        border: solid $black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        position: absolute;
        top: 25px;
        right: 25px;
        transform: rotate(-135deg);
        pointer-events: none;
        @include transition(.4s);
      }
      &.collapsed {
        &::after {
          transform: rotate(45deg);
        }
      }
    }
    a {
      color: $dark;
      font-weight: 400;
      padding: 20px;
    }
    .collapse {
      border-top: 5px solid $white;
    }
  }
  .js-tabcollapse-card-block {
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: $white;
    h3 {
      display: flex;
      align-items: center;
      color: $white;
      img {
        width: 40px;
        margin-right: 15px;
      }
    }
    .btn {
      &.btn-dark {
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
      }
    }
  }
  #education-collapse {
    background-color: $blue;
  }
  #resettlement-collapse {
    background-color: $orange;
  }
  #employment-collapse {
    background-color: $blue-dark;
  }
  #nutrition-collapse {
    background-color: $success;
  }
  #safety-collapse {
    background-color: $danger;
  }
  #finance-collapse {
    background-color: $primary;
  }
  #other-collapse {
    background-color: $purple;
  }
}
