.team-member-details {
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  @include transition(right, 0.5s);
  background-color: $white;
  z-index: 1000;
  font-size: 14px;
  line-height: 1.4;
  @include media-breakpoint-up(md) {
    position: absolute;
    width: 35%;
    right: -35%;
    height: auto;
  }
  @include media-breakpoint-up(lg) {
    font-size: 15px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 17px;
  }
  &.active {
    right: 0;
    opacity: 1;
  }
  .close-details {
    position: absolute;
    right: 20px;
    border: 1px solid $dark;
    color: $dark;
    line-height: 1;
    padding: 1px 5px;
    @include media-breakpoint-up(md) {
      left: -20px;
    }
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

.team-wrapper {
  width: 100%;
  margin-bottom: 75px;
  @include transition(0.5s);
  &.show-details {
    @include media-breakpoint-up(md){
      .team-item {
        .bg-image {
          opacity: 0.5;
        }
        &.active {
          .bg-image {
            opacity: 1;
          }
        }
      }
      margin-bottom: 50vh;
      width: 65%;
    }
  }
}

.team-list {
  padding-left: 0;
  position: relative;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-up(md) {
    display: block;
    height: 500px;
  }
  @include media-breakpoint-up(lg) {
    height: 600px;
  }
  .team-item {
    width: 50%;
    @include transition(0.5s);
    @include media-breakpoint-up(md) {
      &.active {
        z-index: 1000;
        left: 30% !important;
        top: 5% !important;
        width: 45%;
        border: 15px solid $primary;
      }
      width: 25%;
      position: absolute;
      top: 0;
      left: 0;
      &:nth-of-type(1){
        top: 15%;
      }
      &:nth-of-type(2){
        left: 25%;
        margin-left: 25px;
      }
      &:nth-of-type(3){
        left: 50%;
        top: 12%;
      }
      &:nth-of-type(4){
        left: 75%;
      }
      &:nth-of-type(5){
        top: 50%;
        left: 15%;
      }
      &:nth-of-type(6){
        left: 60%;
        top: 55%;
      }
      &:nth-of-type(7){
        top: 75%;
      }
      &:nth-of-type(8){
        top: 70%;
        left: 34%;
      }
    }
  }
  &.layout-ver-2 {
    .team-item {
      @include media-breakpoint-up(md) {
        &:nth-of-type(1){
          top: 0;
        }
        &:nth-of-type(2){
          left: 22%;
          top: 10%;
          margin-left: 25px;
        }
        &:nth-of-type(3){
          left: 50%;
          top: 14%;
        }
        &:nth-of-type(4){
          left: 73%;
          top: 2%;
        }
        &:nth-of-type(5){
          top: 42%;
          left: 15%;
        }
        &:nth-of-type(6){
          left: 62%;
          top: 58%;
        }
        &:nth-of-type(7){
          top: 75%;
        }
        &:nth-of-type(8){
          top: 66%;
          left: 34%;
        }
      }  
    }
  }
  &.layout-ver-3 {
    .team-item {
      @include media-breakpoint-up(md) {
        &:nth-of-type(1){
          top: 15%;
        }
        &:nth-of-type(2){
          left: 25%;
          top: 3%;
        }
        &:nth-of-type(3){
          left: 49%;
          top: 19%;
        }
        &:nth-of-type(4){
          left: 73%;
          top: 2%;
        }
        &:nth-of-type(5){
          top: 52%;
          left: 15%;
        }
        &:nth-of-type(6){
          left: 62%;
          top: 52%;
        }
        &:nth-of-type(7){
          top: 75%;
          left: 5%;
        }
        &:nth-of-type(8){
          top: 66%;
          left: 41%;
        }
      }  
    }
  }
}