.team-member-details {
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  @include transition(right, 0.5s);
  background-color: $white;
  z-index: 0;
  font-size: 14px;
  line-height: 1.4;
  &.active {
    right: 0;
    opacity: 1;
  }
  @include media-breakpoint-up(md) {
    position: relative;
    width: 40%;
    margin-right: -100%;
    height: auto;
    right: auto;
    opacity: 0;
    @include transition(opacity, 0.6s);
    // @include transition(transform, 1s);
    &.active {
      right: auto;
      transform: translateX(0);
    }
  }
  @include media-breakpoint-up(lg) {
    font-size: 15px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 17px;
  }

  .close-details {
    position: absolute;
    right: 20px;
    border: 1px solid $dark;
    color: $dark;
    line-height: 1;
    padding: 1px 5px;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

.team-wrapper {
  width: 100%;
  margin-bottom: 75px;
  @include transition(0.5s);
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    .team-list {
      width: 100%;
    }
    &.show-details {
      width: 100%;
      .team-list {
        width: 60%;
      }
      .team-item {
        .bg-image {
          opacity: 0.5;
        }
        &.active {
          .bg-image {
            opacity: 1;
          }
        }
      }
    }
  }
}

.team-list {
  padding-left: 0;
  position: relative;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include transition(width, 0.5s);
  @include media-breakpoint-up(md) {
    display: block;
    height: 500px;
  }
  @include media-breakpoint-up(lg) {
    height: 600px;
  }
  .team-item {
    width: 50%;
    background-color: $gray-300;
    @include transition(0.5s);
    @include media-breakpoint-up(md) {
      &.active {
        z-index: 1000;
        left: 30% !important;
        top: 5% !important;
        width: 45%;
        border: 15px solid $primary;
      }
      width: 25%;
      position: absolute;
      top: 0;
      left: 0;
      &:nth-of-type(1) {
        top: 15%;
      }
      &:nth-of-type(2) {
        left: 25%;
        margin-left: 25px;
      }
      &:nth-of-type(3) {
        left: 50%;
        top: 12%;
      }
      &:nth-of-type(4) {
        left: 75%;
      }
      &:nth-of-type(5) {
        top: 50%;
        left: 15%;
      }
      &:nth-of-type(6) {
        left: 60%;
        top: 55%;
      }
      &:nth-of-type(7) {
        top: 75%;
      }
      &:nth-of-type(8) {
        top: 70%;
        left: 34%;
      }
    }
  }
  &.layout-ver-2 {
    .team-item {
      @include media-breakpoint-up(md) {
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          left: 22%;
          top: 10%;
          margin-left: 25px;
        }
        &:nth-of-type(3) {
          left: 50%;
          top: 14%;
        }
        &:nth-of-type(4) {
          left: 73%;
          top: 2%;
        }
        &:nth-of-type(5) {
          top: 42%;
          left: 15%;
        }
        &:nth-of-type(6) {
          left: 62%;
          top: 58%;
        }
        &:nth-of-type(7) {
          top: 75%;
        }
        &:nth-of-type(8) {
          top: 66%;
          left: 34%;
        }
      }
    }
  }
  &.layout-ver-3 {
    .team-item {
      @include media-breakpoint-up(md) {
        &:nth-of-type(1) {
          top: 15%;
        }
        &:nth-of-type(2) {
          left: 25%;
          top: 3%;
        }
        &:nth-of-type(3) {
          left: 49%;
          top: 19%;
        }
        &:nth-of-type(4) {
          left: 73%;
          top: 2%;
        }
        &:nth-of-type(5) {
          top: 52%;
          left: 15%;
        }
        &:nth-of-type(6) {
          left: 62%;
          top: 52%;
        }
        &:nth-of-type(7) {
          top: 75%;
          left: 5%;
        }
        &:nth-of-type(8) {
          top: 66%;
          left: 41%;
        }
      }
    }
  }
}

.refresh-team {
  background-color: transparent;
  width: 55px;
  border: 0;
  margin-bottom: 20px;
  @include transition(transform, 0.5s);
  &:hover {
    transform: rotate(-10deg);
  }
  &:focus {
    outline: none;
  }
}
