.timeline {
  padding: 100px 0;
  position: relative;
  
  h3 {
    margin-bottom: 20px;
  }
  
  .content {
    margin-bottom: 100px;
    background-color: $white;
    z-index: 1;
  }
}

.timeline-row {
  position: relative;
  &.last {
    &::before {
      // display: none;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    display: block;
    height: 100%;
    width: 5px;
    background-color: $black;
  }
}

#show-timeline {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 75px;
  z-index: 10;
  .show-text {
    display: none;
  }
  .hide-text {
    display: block;
  }
  &.collapsed {
    .hide-text {
      display: none;
    }
    .show-text {
      display: block;
    }
  }
}


@media (min-width: $screen-md-min) {
  .timeline {
    .content {
      &::before {
        content: '';
        position: absolute;
        left: -40px;
        top: -6px;
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 40px solid $white;
        transform: rotate(45deg);
        z-index: 0;
      }
    }
  }
  .timeline-row {
    &::before {
      left: 30px;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      width: 20px;
      height: 20px;
      background-image: url('/img/timeline_circle.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      left: 23px;
    }
    &.last {
      &::before {
        display: none;
      }
    }
  }
  #show-timeline {
    position: absolute;
    left: 15px;
    bottom: 75px;
    transform: none;
  }
}

@media (min-width: $screen-lg-min) {
}

@media (min-width: $screen-xl-min) {
  .timeline {
    .content {
      &::before {
        // left: -149px;
      }
    }
  }
}
