#how {
  h3 {
    // font-weight: 400;
    // margin-top: 20px;
    // margin-bottom: 20px;
    // display: inline-block;
    // padding: 10px 20px;
    // color: $white;
  }
  .bg-image {
    background-size: contain;
    margin: -40px auto;
    max-width: 70%;
  }
}

@media (min-width: $screen-md-min) {
  #how {
    .bg-image {
      margin: -20px auto;
    }
  }
  #focus {
    background-image: url('/img/airbel-focus-illustration.png');
  }
}
