#featured-publications {

}

#publication-library {
  .publication-row {
    @include media-breakpoint-up(lg){
      border-left: 10px solid $dark;
    }
  }
  .filters {
    @include media-breakpoint-down(md) {
      .filter-title {
        font-size: 13px;
      }
    }
  }
}
.publication-row {
  align-items: center;
  margin-top: 8px;
  position: relative;
  @include media-breakpoint-down(md) {
    padding-bottom: 30px;
  }
  h4 {
    font-weight: 400;
  }
  .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 10px 0 0 10px;
    border-style: solid;
    border-color: $white;
    &:hover {
      border-color: $white;
    }
  }
}
