<div id="project-visualizer">
  <div class="row">
    <div class="col-md-6">
      <ul class="nav nav-tabs" id="nav-project-views" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list"
            aria-selected="true">
            <img src="/assets/img/airbel-list-icon.svg" class="img-fluid" alt="List Icon">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="grid-tab" data-toggle="tab" href="#grid" role="tab" aria-controls="grid" aria-selected="false">
            <img src="/assets/img/airbel-grid-icon.svg" class="img-fluid" alt="Grid Icon">
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 filters text-right d-none">
      <fieldset data-filter-group="status">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="projectStatus" value=".active-project" data-visualizer-control checked>
          <label class="form-check-label">Active</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="projectStatus" value=".graduated-project" data-visualizer-control>
          <label class="form-check-label">Graduated</label>
        </div>
      </fieldset>
    </div>
  </div>
  
  <div class="row no-gutters" style="margin: 0 -3px;">
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <div class="stage-heading bg-yellow">
            Design
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <div class="stage-heading bg-yellow-mid">
            Test
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col">
          <div class="stage-heading bg-yellow-dark">
            Scale
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="tab-content">
    <div class="tab-pane active" id="list" role="tabpanel" aria-labelledby="list-tab">
      {% include project-visualizer/list.html %}
    </div>
    <div class="tab-pane" id="grid" role="tabpanel" aria-labelledby="grid-tab">
      {% include project-visualizer/grid.html %}
    </div>
  </div>
</div>
