<div id="project-visualizer">
  <div class="row">
    <div class="col-md-6">
      <ul class="nav nav-tabs" id="nav-project-views" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list"
            aria-selected="true">
            <img src="/assets/img/airbel-list-icon.svg" class="img-fluid" alt="List Icon">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="grid-tab" data-toggle="tab" href="#grid" role="tab" aria-controls="grid" aria-selected="false">
            <img src="/assets/img/airbel-grid-icon.svg" class="img-fluid" alt="Grid Icon">
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 filters text-right">
      <div>
        Filter by region
        <div class="dropdown" role="group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            <span id="active-region-filter">All</span>
            <span class="arrow-down"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item">
              <a class="filter" data-filter="all" data-active-text="active-region-filter" data-visualizer-control>All</a>
            </li>
            {% assign regions = "" | split:"," %}
            {% for project in site.projects %}
              {% unless project.geolocation.region == null %}
                {% assign regions = regions | push: project.geolocation.region %}
              {% endunless %}
            {% endfor %}
            {% assign regions = regions | uniq %}
  
            {% for region in regions %}
            <li class="dropdown-item">
              <a class="filter" data-filter=".{{ region | slugify }}" data-active-text="active-region-filter" data-visualizer-control>{{ region }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row no-gutters" style="margin: 0 -3px;">
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <div class="stage-heading bg-yellow">
            Design
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <div class="stage-heading bg-yellow-mid">
            Test
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col">
          <div class="stage-heading bg-yellow-dark">
            Scale
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="tab-content">
    <div class="tab-pane active" id="list" role="tabpanel" aria-labelledby="list-tab">
      {% include project-visualizer/list.html %}
    </div>
    <div class="tab-pane" id="grid" role="tabpanel" aria-labelledby="grid-tab">
      {% include project-visualizer/grid.html %}
    </div>
  </div>
</div>
