{% assign graduated = site.projects | where: "status", "graduated" %}
{% assign num_graduated = graduated | size %}
{% if num_graduated < 1 %}
<div class="d-flex align-items-center justify-content-center bg-light p-5">There are currently no discontinued projects</div>
{% else %}
  {% for project in graduated %}
  <div class="row no-gutters bg-light project-summary-row border-{{ project.focus | slugify }}">
    <div class="col-md-4">
      <div class="content">
        <p class="mb-0"><em>{{ project.focus }}</em></p>
        <h4 class="mb-0">{{ project.title }}</h4>
        <p class="mb-0">{{ project.geolocation.region }}</p>
        {{ project.stage }}
      </div>
    </div>
    <div class="col-md-5">
      <div class="content">
        <p class="mb-0">{{ project.description | truncatewords: 30 }}</p>
      </div>
    </div>
    <a href="{{ project.url }}" class="btn">Find out more</a>
  </div>
  {% endfor %}
{% endif %}