<div class="d-flex justify-content-between">
  {% for stage in site.stages %}
    <div class="stage stage-{{ stage }}">
      <div class="stage-sub-heading">
        {{ stage }}
      </div>
      <div class="stage-projects">
        {% assign stage_projects = site.projects | where: "stage", stage %}
        {% for project in stage_projects %}
          <div class="project-focus bg-{{ project.focuses.first }}"></div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

<div class="focus-key">
  {% for focus in site.focuses %}
  <div class="key">
    <div class="project-focus bg-{{ focus.title | slugify }}"></div>
    {{ focus.title }}
  </div>
  {% endfor %}
</div>

