<!-- TODO - Optimize -->
<h3 class="accordion-project-heading">Design</h3>

<div class="accordion project-accordion" id="accordion-design-projects">
  {% for stage in site.stages %}
    {% if stage contains 'Research' or stage contains 'Generate Solutions' or stage contains 'Prototype' %}
      {% assign stage_projects = site.projects | where: 'stage', stage %}
      {% assign num_projects = stage_projects | size %}
      <div class="card">
        <div class="card-header" id="heading-{{ stage | slugify }}">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ stage | slugify }}" aria-expanded="true" aria-controls="collapse-{{ stage | slugify }}">
              {{ stage }}
            </button>
          </h5>
        </div>

        <div id="collapse-{{ stage | slugify }}" class="collapse" aria-labelledby="heading-research" data-parent="#accordion-design-projects">
          <div class="card-body">
            {% if num_projects < 1 %}
              <div class="py-3">
                There are currently no projects in the {{ stage }} phase
              </div>
            {% else %}
              <ul class="mb-0">
                {% for project in stage_projects %}
                  {% unless project.status == 'hidden' %}
                    <li><a href="{{ project.url }}">{{ project.title }}{% if project.status == 'graduated' or project.status == 'discontinued' %} <small>({{ project.status }})</small>{% endif %}</a></li>
                  {% endunless %}
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}  
  {% endfor %}
</div>
<h3 class="accordion-project-heading">Test</h3>
<div class="accordion project-accordion" id="accordion-test-projects">
  {% for stage in site.stages %}
    {% if stage contains 'Pilot' or stage contains 'Rigorous Evaluation' %}
    {% assign stage_projects = site.projects | where: 'stage', stage %}
    {% assign num_projects = stage_projects | size %}
    <div class="card">
      <div class="card-header" id="heading-{{ stage | slugify }}">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ stage | slugify }}"
            aria-expanded="true" aria-controls="collapse-{{ stage | slugify }}">
            {{ stage }}
          </button>
        </h5>
      </div>
    
      <div id="collapse-{{ stage | slugify }}" class="collapse" aria-labelledby="heading-research" data-parent="#accordion-design-projects">
        <div class="card-body">
          {% if num_projects < 1 %}
            <div class="py-3">
              There are currently no projects in the {{ stage }} phase
            </div>
          {% else %}
            <ul class="mb-0">
              {% for project in stage_projects %}
                {% unless project.status == 'hidden' %}
                  <li><a href="{{ project.url }}">{{ project.title }}{% if project.status == 'graduated' or project.status == 'discontinued' %} <small>({{ project.status }})</small>{% endif %}</a></li>
                {% endunless %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
<h3 class="accordion-project-heading">Scale</h3>
<div class="accordion project-accordion" id="accordion-scale-projects">
  {% for stage in site.stages %}
    {% if stage contains 'Scale' %}
    {% assign stage_projects = site.projects | where: 'stage', stage %}
    {% assign num_projects = stage_projects | size %}
    <div class="card">
      <div class="card-header" id="heading-{{ stage | slugify }}">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ stage | slugify }}"
            aria-expanded="true" aria-controls="collapse-{{ stage | slugify }}">
            {{ stage }}
          </button>
        </h5>
      </div>
    
      <div id="collapse-{{ stage | slugify }}" class="collapse" aria-labelledby="heading-research" data-parent="#accordion-design-projects">
        <div class="card-body">
          {% if num_projects < 1 %}
            <div class="py-3">
              There are currently no projects in the {{ stage }} phase
            </div>
          {% else %}
            <ul class="mb-0">
              {% for project in stage_projects %}
                {% unless project.status == 'hidden' %}
                  <li><a href="{{ project.url }}">{{ project.title }}{% if project.status == 'graduated' or project.status == 'discontinued' %} <small>({{ project.status }})</small>{% endif %}</a></li>
                {% endunless %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>