
%clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

// Spacing
.content {
  @extend %clearfix;
  padding: 20px;
  position: relative;
}

iframe {
  max-width: 100%;
  width: 100%;
  height: auto;
}

// Background images
.bg-image {
  display: block;
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &.bg-image-section {
    height: auto;
  }
  &.aspect-5x7 {
    padding-top: 120%;
  }
  &.aspect-1x1 {
    padding-top: 100%;
  }
  &.aspect-4x3 {
    padding-top: 75%;
  }
  &.aspect-16x9 {
    padding-top: 56.25%;
  }
  &.aspect-wide {
    padding-top: 33%;
  }
  &.underlay {
    z-index: 10;
    position: relative;
    box-shadow: 11px 14px 0 $orange;
  }
}

.overflow-hidden {
  overflow: hidden;
}

//color utilities
.bg-blue-dark {
  background-color: $blue-dark;
}

.border-blue-dark {
  border-color: $blue-dark !important;
}

.bg-orange {
  background-color: $orange;
}

.border-orange {
  border-color: $orange !important;
}

.bg-purple {
  background-color: $purple;
}

.border-purple {
  border-color: $purple !important;
}



mark {
  font-family: $commuter-sans;
  padding: 5px 0;
  &.bg-warning {
    box-shadow: 4px 0px 0px $yellow, -4px 0px 0px $yellow;
  }
  &.bg-dark {
    box-shadow: 4px 0px 0px $dark, -4px 0px 0px $dark;
  }
}