<div class="container">
  <div class="row">
    <div class="col">
      <div class="content">
        <h1 class="bordered-heading bordered-blue">{{ project.title }}{% if project.focus %} |<small><em>  {{ project.focus }}</em></small>{% endif %}</h1>
        <p><mark class="bg-warning">{{ project.tagline }}</mark></p>
        {{ project.description }}
      </div>
    </div>
  </div>
  <div class="d-none d-md-block">
    <div class="row">
      <div class="col">
        <div class="content">
          {% include project/status.html %}
        </div>
      </div>
    </div>
  </div>
</div>