{% assign art1 = project.articles | first %}
{% assign res1 = project.resources | first %}

{% unless art1.title == null and res1.title == null %}
<section class="bg-light">
  <div class="container">
    <div class="row">
      {% if art1.title != null %}
      <div class="col-12 col-md-6">
        <div class="content">
          <h2>Related Articles</h2>
          <ul>
            {% for article in project.articles %}
            <li><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      {% if res1.title != null %}
      <div class="col-12 col-md-6">
        <div class="content">
          <h2>Resources</h2>
            {% for resource in project.resources %}
              <p>{{ resource.description }}</p>
              <a href="{{ resource.url }}" class="btn btn-dark" target="_blank">View {{ resource.title }}</a>
            {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endunless %}