---
---
@import "custom_settings";
@import "../node_modules/bootstrap/scss/bootstrap";

@import 'base/mixins';
@import 'base/utilities';
@import 'base/animations';
@import 'base/global';
@import 'base/typography';

@import 'layout/page';
@import 'layout/page_header';
@import 'layout/page_footer';

@import 'elements/bg_patterns';
@import 'elements/bordered_col';
@import 'elements/bordered_heading';
@import 'elements/bring_together';
@import 'elements/buttons';
@import 'elements/card';
@import 'elements/cognito';
@import 'elements/filters';
@import 'elements/focus_tabs';
@import 'elements/map_modal';
@import 'elements/project_visualizer';
@import 'elements/tab_collapse';
@import 'elements/timeline';
@import 'elements/alerts';

@import 'views/home';
@import 'views/team';
@import 'views/project';
@import 'views/portfolio';