---
layout: default
title: Blog
---

<div class="bg-image aspect-wide" style="background-image: url(https://via.placeholder.com/1800x500?text=Hero+image)"></div>
<section class="bg-plus bg-left bg-bottom bg-no-repeat pt-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h1 class="bordered-heading bordered-green">Blog</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
    {% for i in (1..4) %}
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="content">
          <div class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/768x500)"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <h3>Blog Title</h3>
          <p class="mb-0"><em>Aug 16 | Team Airbel</em></p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam tempora placeat sint iste repellat non magnam unde facilis obcaecati natus dignissimos optio labore quia beatae sed adipisci neque, numquam, libero sunt aperiam earum. Reprehenderit, laudantium.</p>
          <a href="#" class="btn btn-dark">Explore article</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <a href="#" class="btn btn-warning mt-lg-5">See all posts on Medium</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include bring-together.html %}