---
layout: default
title: Get In Touch
---

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="editable">
            <h1>Contact us to get involved</h1>
            <p>To achieve the next generation of humanitarian breakthroughs, we need capital that embraces experimentation and
              uncertainty—and donors that understand the importance of “failing fast,” learning quickly, and building on what
              works.</p>
            <p>We seek bold partners to help us establish the Airbel R&D center at the IRC, and to help finance, refine and
              implement projects that will achieve better outcomes for people su ering from violence and displacement.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="cognito">
            <script src="https://services.cognitoforms.com/s/bbN8iw1MJUqjPe6aHn-_rw"></script>
            <script>Cognito.load("forms", { id: "24" });</script>
          </div>
        </div>
      </div>
    </div>
    {% include work-with-us.html %}
  </div>
</section>
{% include bring-together.html %}