---
layout: default
title: Get In Touch
---

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="editable">
            <h1 class="h2">Get in touch</h1>
            <p>Do you want to partner on a breakthrough idea for humanitarian action? Do you have an idea or skill to contribute? Or want to learn more about a project? Drop us a line at <strong>airbel@rescue.org</strong> or using the form below. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="cognito">
            <script src="https://services.cognitoforms.com/s/bbN8iw1MJUqjPe6aHn-_rw"></script>
            <script>Cognito.load("forms", { id: "24" });</script>
          </div>
        </div>
      </div>
    </div>
    {% include work-with-us.html %}
  </div>
</section>
{% include bring-together.html %}