---
layout: default
title: Get In Touch
---

<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h1>Contact us to get involved</h1>
          <p>To achieve the next generation of humanitarian breakthroughs, we need capital that embraces experimentation and uncertainty—and donors that understand the importance of “failing fast,” learning quickly, and building on what works.</p>
          <p>We seek bold partners to help us establish the Airbel R&D center at the IRC, and to help finance, refine and implement projects that will achieve better outcomes for people su ering from violence and displacement.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <img src="https://via.placeholder.com/1400x600?text=Form" class="img-fluid" alt="">
        </div>
      </div>
    </div>
    {% include work-with-us.html %}
  </div>
</section>
{% include bring-together.html %}