---
layout: homepage
title: Home
featured_articles:
  - article_title: Reflections on 3 Years
    article_image: /uploads/spread-1---20170827-kryan-yemen-098.jpg
    article_summary: >-
      For the past 3 years, we've been working to catalyze a humanitarian sphere
      that can provides urgent care, while also supporting and empowering people
      affected by crises, meeting both their needs and desires. Here’s what
      we’ve learned during this time.
    article_link: 'https://medium.com/airbel/airbel-reflections-on-3-years-3bec68e31eb6'
  - article_title: 'Report: Innovative financing for responses to refugee crises'
    article_image: /uploads/1bqmsld6g1ooryprsimewjg.jpeg
    article_summary: >-
      The UK Department for International Development’s Centre for Disaster
      Protection and the International Rescue Committee’s Airbel Impact Lab
      launch a landscaping and assessment of innovative finance in humanitarian
      response.
    article_link: >-
      https://medium.com/airbel/report-innovative-financing-for-responses-to-refugee-crisis-39c1a154f95d
  - article_title: >-
      What do cash transfers mean for women’s experiences of violence and
      wellbeing in Syria?
    article_image: /uploads/1mdfzoohr5exndadln4c6kw.jpeg
    article_summary: >-
      Researchers at the International Rescue Committee explore the outcomes of
      emergency cash programming for women living in crises.
    article_link: >-
      https://medium.com/airbel/what-do-cash-transfers-mean-for-womens-experiences-of-violence-and-wellbeing-in-syria-d0f865de504b
podcast_embed: >-
  <iframe frameborder="no" height="200" scrolling="no"
  src="https://player.megaphone.fm/VMP2587139674?" width="100%"></iframe>
---

<section id="mission" class="bg-image bg-image-section overflow-hidden pt-3 pb-0" style="background-image: url(/img/airbel-header-illustration.png)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 bg-white bordered-col">
        <div class="content py-4">
          <h1 class="editable">
            Research &amp; Innovation at the IRC
          </h1>
          <div class="editable">
            <p>At Airbel Impact Lab, we design, test, and scale life-changing solutions for people affected by conflict and disaster. Our aim is to find the most impactful and cost-effective products, services, and delivery systems possible. We work to develop breakthrough solutions by combining creativity and rigor, openness and expertise, and a desire to think afresh with the experience of a large-scale implementing organization.</p>
          </div>
          <p>
            <a class="btn btn-dark mb-3 mb-md-0 mr-md-3" href="/portfolio">Explore our portfolio</a>
            <a class="btn btn-dark" href="/studies">Explore our studies</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg-image aspect-wide" style="background-image: url(/img/airbel-homepage-whatisairbel-01.jpg)"></div>

<section class="bg-single-plus bg-right bg-top bg-no-repeat pt-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2 class="bordered-heading bordered-blue editable">
            What is the Airbel Impact Lab?
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="content">
          <div class="editable">
            <p>With over 70 million people displaced, the world is facing an unprecedented crisis. To address the evolving and growing nature of this crisis requires not just more aid, but better thinking.&nbsp;</p>
            <p>There is a lack of proven, cost-effective, scalable services for people affected by crisis. In some cases, there is a lack of evidence on what works. In others, evidence shows existing solutions are effective, but we need to find new ways of delivering them at scale in fragile states.</p>
          </div>
          <p>
            <mark class="bg-primary"><span class="editable">That’s why the IRC created the Airbel Impact Lab.  Our goal is to find and advance breakthrough solutions — with people and ethics at the center of all we do. We are at the frontier of conducting rigorous evaluations in humanitarian settings, and are contributing to key advances in the evidence base on cash transfers, education, reducing violence in the home, and tackling malnutrition.</span></mark>
          </p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="content">
          <div class="bg-image aspect-1x1" style="background-image: url(/img/home-whatisairbel.jpg)">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="bring-together" class="bg-primary bg-image bg-image-section" style="background-image: url(/img/airbel-pencil-cta.jpg)">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-8 col-lg-9 ml-lg-auto">
        <div class="content">
          <div class="editable">
            <p>Our strength is in our unusual blend of people. We are embedded in a large implementing organization with deep technical knowledge and implementation experience. We pair this with <strong>designers, academic researchers, strategists, and behavioral scientists </strong>together with our external partners from academia, the private and non-profit sectors and government.&nbsp;&nbsp;</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-4 col-lg-3">
        <div class="content">
          <img src="/img/airbel-mark.svg" alt="Airbel Illustration" />
        </div>
      </div> -->
    </div>
  </div>
</section>
<section id="how">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="content">
          <img src="/img/home-ourwork.jpg" class="img-fluid" alt="Our Work image" />
        </div>
      </div>
      <div class="col">
        <div class="content editable">
          <h2>Our Work</h2>
          <p>The Airbel Impact Lab works in more than 30 countries around the world. We rigorously evaluate existing solutions, make sure projects are good value for money, and inject evidence into decision-making.&nbsp;</p>
          <p>Where best practice can get better, we work to adapt existing solutions, or to create brand new ones, that can fill gaps and get us closer to solving the world&rsquo;s biggest challenges. Working alongside the communities IRC serves, we&rsquo;re looking for breakthrough solutions that can create a paradigm shift in the field.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="work-stats" class="pt-0">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <div class="text-center">
          <div class="bg-image aspect-4x3" style="background-image: url(/img/icons/home-ourwork-01.png)"></div>
          <div class="editable">
            <p>The IRC has conducted 39 of the roughly 150 high quality impact evaluations ever conducted with refugees or in conflict-affected contexts.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <div class="bg-image aspect-4x3" style="background-image: url(/img/icons/home-ourwork-02.png)"></div>
          <div class="editable">
            <p class="present-before-paste">We&rsquo;re using a <a href="/projects/placement-algorithm">matching algorithm</a>, developed by Stanford&rsquo;s Immigration Policy Lab, to help identify where <a target="_blank" rel="noopener" href="https://qz.com/1183013/researchers-developed-an-algorithm-to-place-refugees-where-theyre-most-likely-to-find-work/">refugees will thrive</a>. Studies show this approach could lead to gains in employment of around <a target="_blank" rel="noopener" href="https://science.sciencemag.org/content/359/6373/325">40-70% on average</a>.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <div class="bg-image aspect-4x3" style="background-image: url(/img/icons/home-ourwork-03.png)"></div>
          <div class="editable">
            <p>Scaling up our project to&nbsp;<a href="/projects/revolutionizing-treatment-for-acute-malnutrition/">transform malnutrition treatment</a> has the potential to reach 13 million more children each year.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <div class="bg-image aspect-4x3" style="background-image: url(/img/icons/home-ourwork-04.png)"></div>
          <div class="editable">
            <p>Families Make the Difference advocated for positive and nurturing parenting practices, leading to a 55.5% reduction in caregivers&rsquo; reported use of harsh punishment in Liberia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <div class="bg-image aspect-4x3" style="background-image: url(/img/icons/home-ourwork-05.png)"></div>
          <div class="editable">
            <p><a href="/projects/coach-erevu/">Coach Erevu</a> empowered 140 teachers in Tanzanian refugee camps to support 10,000 children with potentially traumatic backgrounds - increasing children&rsquo;s attentiveness in class from 44% to 81%.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <div class="bg-image aspect-4x3" style="background-image: url(/img/icons/home-ourwork-06.png)"></div>
          <div class="editable">
            <p>Participants in <a href="/projects/post-harvest-loss/">Sprout</a> fared markedly better than their non-participant neighbours in areas like food consumption and diversity.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-image aspect-wide" style="background-image: url(/img/airbel-whatdowefocuson.jpg)"></div>
<section id="focus" class="pt-md-0 bg-right bt-top bg-no-repeat">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2 class="bordered-heading bordered-orange editable">
            What we do
          </h2>
          <div class="editable">
            <p>We start by finding <strong>big problems</strong> to solve and setting goals that feel like a stretch. We <strong>generate ideas</strong> by understanding the perspective of clients and practitioners, analyzing the evidence base, and looking at analogous solutions. We <strong>prototype</strong> and <strong>pilot</strong> ideas in the field. After many iterations, we conduct <strong>rigorous impact evaluations </strong>to measure impact and cost-effectiveness. Throughout the process, we design with <strong>scale</strong> in mind - thinking how we can create simple, efficient solutions that can shape policy and practice.</p>
          </div>
        </div>
      </div>
    </div>
    {% include focus-tabs.html %}
  </div>
</section>

<div class="bg-image aspect-wide" style="background-image: url(/img/airbel-whyairbel.jpg)"></div>

<section class="bg-single-plus bg-right bg-top bg-no-repeat pt-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2 class="bordered-heading bordered-green editable">
            Why "Airbel"?
          </h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="content editable">
          <p>Airbel is named for Varian Fry, who arrived in Marseilles in 1940 with $3,000 and a mission: to help people escape occupied France. There he established the Air-Bel Villa, a secret safe house that helped thousands of people escape to freedom.</p>
          <p>Like all heroes of the early International Rescue Committee, Fry had no playbook or standard operating procedure to guide him. He learned by doing, applying ingenious methods, embracing inventive thinking, taking calculated risks, and building on success. This spirit has persisted for over 75 years and echoes throughout all of our programs worldwide.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="content">
          <div class="bg-image aspect-1x1" style="background-image: url(/img/airbel-vivianfry.png)"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg-image aspect-wide" style="background-image: url(/img/MVIMG_20190411_112309.jpg)"></div>
<section class="bg-multi-plus bg-left bg-bottom bg-no-repeat pt-md-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2 class="bordered-heading bordered-yellow editable">
            Latest updates
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="card-deck">
            {% for article in page.featured_articles %}
            <div class="card">
              <div class="bg-image aspect-4x3" style="background-image: url({{ article.article_image | default: site.placeholders.thumbnail-4x3 }})"></div>
              <div class="card-body">
                <p class="card-title">{{ article.article_title }}</p>
                <p class="card-text"><em>{{ article.article_summary }}</em></p>
              </div>
              <div class="card-footer">
                <a href="{{ article.article_link }}" class="btn btn-dark" target="_blank">Read article</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <a href="https://medium.com/airbel" class="btn btn-primary my-lg-5" target="_blank">See all blog posts on Medium</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="bg-light p-4">
            Displaced Podcast
          </div>
          {{ page.podcast_embed }}
        </div>
        <div class="content text-center">
          <a href="https://www.rescue.org/displaced" class="btn btn-primary mt-lg-5" target="_blank">See all Displaced episodes</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="editable">
            <h2>Our Supporters</h2>
            <p>We work with partners and donors from within and outside the humanitarian sector to bring fresh thinking, refine and implement projects, and achieve better outcomes for people suffering from violence and displacement.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center flex-wrap">
      {% for supporter in site.data.supporters %}
        {% if supporter.logo_image %}
        <div class="col-6 col-sm-3">
          <div class="content">
            <a href="{{ supporter.link }}">
              <img src="{{ supporter.logo_image }}" class="img-fluid" alt="{{ supporter.name }}" />
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
