---
layout: homepage
title: Home
featured_articles:
  - article_title: How to support designers transitioning into the social sector
    article_image: /uploads/0qhipfomewokfhgww.jpg
    article_summary: >-
      What does a designer transitioning into the social sector need to know?
      From understanding the social sector and its language, to working with
      vulnerable populations, and redefining a designer's role.
    article_link: >-
      https://medium.com/airbel/how-to-support-designers-transitioning-into-the-social-sector-c1091bbad309
  - article_title: A move away from camps requires a collaborative solution for housing
    article_image: /uploads/1n121ann-21scdz1eswgj7w.png
    article_summary: >-
      From both community and municipal perspectives, urban housing is a
      challenge that looms large.
    article_link: >-
      https://medium.com/airbel/a-move-away-from-camps-requires-a-collaborative-solution-for-housing-655c52817c95
  - article_title: How are Zolberg-IRC fellows translating thought into action?
    article_image: /uploads/0ez2sufwcju-f61dy.jpg
    article_summary: >-
      This past October, the International Rescue Committee and the New School
      hosted a conversation on the global humanitarian challenges of today and
      the role of academies and social institutions in enabling humanitarian
      action.
    article_link: >-
      https://medium.com/airbel/how-are-zolberg-irc-fellows-translating-thought-into-action-8530ecb04f5e
podcast_embed: >-
  <iframe frameborder="no" height="200" scrolling="no"
  src="https://player.megaphone.fm/VMP2587139674?" width="100%"></iframe>
---

<section id="mission" class="bg-image bg-image-section overflow-hidden pt-3 pb-0" style="background-image: url(/img/airbel-header-illustration.png)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 bg-white bordered-col">
        <div class="content py-4">
          <h1 class="editable">Research &amp; Innovation at the IRC</h1>
          <div class="editable">
            <p>The Airbel Impact Lab is the IRC’s center for research and innovation, combining a focus on ethical exploration and
              trial-and-error with rigorous research capacity. We help build the world's understanding of what does and does not
              work when responding to conflict and crisis, and work closely with communities on life-changing solutions.</p>
          </div>
          <p>
            <a class="btn btn-dark mr-md-3" href="/portfolio">Explore our portfolio</a>
            <a class="btn btn-dark" href="/studies">Explore our studies</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg-image aspect-wide" style="background-image: url(/img/airbel-homepage-whatisairbel-01.jpg)"></div>

<section class="bg-single-plus bg-right bg-top bg-no-repeat pt-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2 class="bordered-heading bordered-blue editable">
            What is the Airbel Impact Lab?
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="content">
          <div class="editable">
            <p>Founded in 1933 at the call of Albert Einstein, the IRC is at work in 40 countries, helping people to survive, reclaim
            control of their future, and strengthen their communities.</p>
            <p>But with over 70 million people displaced, the world is facing an unprecedented crisis. To address the evolving and
            growing nature of this crisis requires not just more aid, but better aid.</p>
          </div>
          <p>
            <mark class="bg-primary"><span class="editable">That’s why the IRC created the Airbel Impact Lab. With our unique combination of rigor, creativity, and multi-sectoral
            skills, we super-charge life-changing solutions with the potential for scale — with people and ethics at the center of
            all we do.</span></mark>
          </p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="content">
          <div class="bg-image aspect-1x1" style="background-image: url(/img/home-whatisairbel.jpg)">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="bring-together" class="bg-primary bg-image bg-image-section" style="background-image: url(/img/airbel-pencil-cta.jpg)">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-8 col-lg-9 ml-lg-auto">
        <div class="content">
          <div class="editable">
            <p>Airbel brings together multidisciplinary teams of experts drawn from inside and outside of the IRC - <mark class="bg-dark text-white"> blending human-centered design, machine-learning, and behavioral insights with on-the-ground expertise</mark> - to have a meaningful impact in some of the most challenging places around the world.</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-4 col-lg-3">
        <div class="content">
          <img src="/img/airbel-mark.svg" alt="Airbel Illustration" />
        </div>
      </div> -->
    </div>
  </div>
</section>
<section id="how">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="content">
          <img src="/img/home-ourwork.jpg" class="img-fluid" alt="Our Work image">
        </div>
      </div>
      <div class="col">
        <div class="content editable">
          <h2>Our Work</h2>
          <p>The Airbel Impact Lab works in more than 30 countries around the world. We are at the frontier of conducting rigorous
          evaluations in humanitarian settings. We rigorously evaluate existing solutions, make sure projects are good value for
          money, and inject evidence into decision-making.</p>
          <p>Where best practice can get better, we work to adapt existing solutions, or to create brand new ones, that can fill gaps
          and get us closer to solving the world’s biggest challenges. Working alongside the communities IRC serves, we’re looking
          for breakthrough solutions that can create a paradigm shift in the field.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="work-stats" class="pt-0">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <div class="text-center">
          <div class="bg-image aspect-4x3" style="background-image: url(/img/icons/home-ourwork-01.png)"></div>
          <div class="editable">
            <p>The IRC has conducted 39 of the roughly 150 high quality impact evaluations ever conducted with refugees or in
              conflict-affected contexts</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <div class="bg-image aspect-4x3" style="background-image: url(/img/icons/home-ourwork-02.png)"></div>
          <div class="editable">
            <p>We’re using a matching algorithm, developed by Stanford’s Immigration Policy Lab, to help identify where refugees
              will thrive. Studies show that this approach could lead to gains in refugee employment outcomes of around 40-70% on
              average.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <div class="bg-image aspect-4x3" style="background-image: url(/img/icons/home-ourwork-03.png)"></div>
          <div class="editable">
            <p>Scaling up our ComPAS project has the potential to treat 13 million more children and save 850,000 lives every year.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <div class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/150)"></div>
          <div class="editable">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim non et nobis incidunt, deleniti</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <div class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/150)"></div>
          <div class="editable">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim non et nobis incidunt, deleniti</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-image aspect-wide" style="background-image: url(/img/airbel-whatdowefocuson.jpg)"></div>
<section id="focus" class="pt-md-0 bg-right bt-top bg-no-repeat">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2 class="bordered-heading bordered-orange editable">What we do</h2>
        </div>
      </div>
    </div>
    {% include focus-tabs.html %}
  </div>
</section>

<div class="bg-image aspect-wide" style="background-image: url(/img/airbel-whyairbel.jpg)"></div>

<section class="bg-single-plus bg-right bg-top bg-no-repeat pt-md-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2 class="bordered-heading bordered-green editable">
            Why "Airbel"?
          </h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="content editable">
          <p>Airbel is named for Varian Fry, who arrived in Marseilles in 1940 with $3,000 and a mission: to help people escape
          occupied France. There he established the Air-Bel Villa, a secret safe house that helped thousands of people escape to
          freedom.</p>
          <p>Like all heroes of the early International Rescue Committee, Fry had no playbook or standard operating procedure to
          guide him. He learned by doing, applying ingenious methods, embracing inventive thinking, taking calculated risks, and
          building on success. This spirit has persisted for over 75 years and echoes throughout all of our programs worldwide.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="content">
          <div class="bg-image aspect-1x1" style="background-image: url(/img/airbel-vivianfry.png)"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg-image aspect-wide" style="background-image: url(/img/airbel-whatdowehavetosay.jpg)"></div>
<section class="bg-multi-plus bg-left bg-bottom bg-no-repeat pt-md-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2 class="bordered-heading bordered-yellow editable">
            Latest updates
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="card-deck">
            {% for article in page.featured_articles %}
            <div class="card">
              <div class="bg-image aspect-4x3" style="background-image: url({{ article.article_image | default: site.placeholders.thumbnail-4x3 }})"></div>
              <div class="card-body">
                <p class="card-title">{{ article.article_title }}</p>
                <p class="card-text"><em>{{ article.article_summary }}</em></p>
              </div>
              <div class="card-footer">
                <a href="{{ article.article_link }}" class="btn btn-dark" target="_blank">Read article</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <a href="https://medium.com/airbel" class="btn btn-primary my-lg-5" target="_blank">See all blog posts on Medium</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="bg-light p-4">
            Displaced Podcast
          </div>
          {{ page.podcast_embed }}
        </div>
        <div class="content text-center">
          <a href="https://www.rescue.org/displaced" class="btn btn-primary mt-lg-5" target="_blank">See all Displaced episodes</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="editable">
            <h2>Our Supporters</h2>
            <p>We work with partners and donors from within and outside the humanitarian sector to bring fresh thinking, refine and implement projects, and achieve better outcomes for people suffering from violence and displacement.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center flex-wrap">
      {% for supporter in site.data.supporters %}
        {% if supporter.logo_image %}
        <div class="col-6 col-sm-3">
          <div class="content">
            <a href="{{ supporter.link }}">
              <img src="{{ supporter.logo_image }}" class="img-fluid" alt="{{ supporter.name }}" />
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
