---
layout: default
title: Home
---
<section class="bg-image bg-image-section overflow-hidden pb-0" style="background-image: url(/assets/img/bg-graphics.png)">
  <div class="container">
    <div class="row">
      <div class="col-md-8 bordered-col">
        <div class="content">
          <h1>Innovation in the<br>face of crisis</h1>
          <p>The Airbel Center is the innovation center at the International Rescue Committee. We design, test, and drive large-scale adoption of innovations for people affected by crisis, focusing on projects that have the potential for reaching the most people with the most effective breakthrough products, services, and systems.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg-image aspect-wide" style="background-image: url(https://via.placeholder.com/1800x500?text=Hero+image)"></div>
<section class="bg-plus bg-right bg-top bg-no-repeat pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="content">
          <h2 class="bordered-heading bordered-blue">What is Airbel?</h2>
          <p><mark class="bg-warning">The Airbel Center's mission is to design and test life-changing, scalable solutions for people affected by crisis across the globe.</mark></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="content">
          <p>By bringing together field staff, designers, strategists, researchers and technical experts, we aim to uncover and nurture ideas that make a big impact on people’s safety, health, education, income and power.</p>
          <p>Innovation has always been the spirit of the International Rescue Committee. The early IRC — founded in 1933 at the call of Albert Einstein — invented new ways to help people escape the horrors of World War II. Today, our commitment to research and development is pioneering changes in products and processes that, in turn, are changing lives.</p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="content">
          <div class="bg-image aspect-1x1 underlay underlay-orange" style="background-image: url(https://via.placeholder.com/768x768?text=Mosaic+image)"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include bring-together.html %}
<section id="how">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2>How do we do it?</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="content">
          <div class="bg-image aspect-1x1" style="background-image: url(https://via.placeholder.com/500x500?text=Illustration)"></div>
          <div class="d-flex align-items-center justify-content-center">
            <h3 class="bg-orange">Design</h3>
          </div>
          <ul>
            <li>Develop solutions that draw on a deep understanding of context, a user's needs and values, outside sciences and disciplines</li>
            <li>Build prototypes and responsibly pilot them in fragile contexts.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <div class="bg-image aspect-1x1" style="background-image: url(https://via.placeholder.com/500x500?text=Illustration)"></div>
          <div class="d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center">
              <h3 class="bg-blue-dark">Test</h3>
            </div>
          </div>
          <ul>
            <li>Subject solutions to gradually more rigorous testing, from simple feedback mechanisms to wider impact evaluations.</li>
            <li>Share our success and failures with the humanitarian sector.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <div class="bg-image aspect-1x1" style="background-image: url(https://via.placeholder.com/500x500?text=Illustration)"></div>
          <div class="d-flex align-items-center justify-content-center">
            <h3 class="bg-success">Scale</h3>
          </div>
          <ul>
            <li>Measure exactly how much improvement and cost-e ectiveness we can achieve, leveraging the IRC’s global network and expertise.</li>
            <li>Engage public and private partners to achieve scale.</li>
          </ul>
        </div>
      </div>  
    </div>
  </div>
</section>
<div class="bg-image aspect-wide" style="background-image: url(https://via.placeholder.com/1800x500?text=Hero+image)"></div>
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2 class="bordered-heading bordered-orange">What do we focus on?</h2>
        </div>
      </div>
    </div>
    {% include focus-tabs.html %}
  </div>
</section>
<div class="bg-image aspect-wide" style="background-image: url(https://via.placeholder.com/1800x500?text=Hero+image)"></div>
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2>Who are we helping</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="content">
          <a href="#" class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/768x768)"></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <h3>Underemployed Parents</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="content">
          <a href="#" class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/768x768)"></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <h3>Small-scale Farmers</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="content">
          <a href="#" class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/768x768)"></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <h3>Under-educated Children</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-image aspect-wide" style="background-image: url(https://via.placeholder.com/1800x500?text=Hero+image)"></div>
<section class="bg-plus bg-right bg-top bg-no-repeat pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="content">
          <h2 class="bordered-heading bordered-blue-dark">What are we working on?</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
        </div>
      </div>
    </div>
    {% include project-grid.html %}
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <a href="/portfolio" class="btn btn-warning mt-lg-5">See all Airbel Projects</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-image aspect-wide" style="background-image: url(https://via.placeholder.com/1800x500?text=Hero+image)"></div>
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2 class="bordered-heading bordered-purple">Where are we making an impact?</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
          {% include map.html %}
        </div>
        <div class="content text-center">
          <a href="#" class="btn btn-warning mt-lg-5">See all Airbel projects</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-image aspect-wide" style="background-image: url(https://via.placeholder.com/1800x500?text=Hero+image)"></div>
<section class="bg-plus bg-left bg-bottom bg-no-repeat">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2>What do we have to say?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="card-deck">
            {% for i in (1..3) %}
            <div class="card">
              <div class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/768x500)"></div>
              <div class="card-body">
                <p class="card-title">Article title</p>
                <p class="card-text"><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, fugiat placeat hic incidunt voluptatem veniam labore perferendis neque...</em></p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-dark">Read article</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <a href="#" class="btn btn-warning mt-lg-5">See all blog posts on Medium</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          Displaced Podcast
          <img src="https://via.placeholder.com/1400x250?text=Podcast+embed" class="img-fluid" alt="">
        </div>
        <div class="content text-center">
          <a href="#" class="btn btn-warning mt-lg-5">See all Displaced episodes</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2>Our Partners</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait</p>
        </div>
      </div>
    </div>
    <div class="row">
      {% for i in (1..18) %}
        <div class="col-sm-4 col-md-2">
          <div class="content">
            <div class="bg-image aspect-1x1 rounded-circle" style="background-image:url(https://via.placeholder.com/350x350)"></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
