---
layout: default
title: Portfolio
---

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="editable">
            <h1>Our Project Portfolio</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
              magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetuer adipiscing
              elit, sed diam</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content d-none d-md-block">
          {% include project-visualizer.html %}
        </div>
        <div class="content d-md-none">
          {% include project-visualizer-mobile.html %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="content">
          <div class="editable">
            <h2>All Projects</h2>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <div class="select-by">Filter by focus 
            <div class="dropdown" role="group">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="filter-text">All</span>
                <span class="arrow-down"></span>
              </button>
              <ul id="project-sort" class="dropdown-menu">
                <li class="dropdown-item">
                  <a class="filter" data-filter="all" data-mixitup-control>All</a>
                </li>
                {% for focus in site.focuses %}
                  <li class="dropdown-item">
                    <a class="filter" data-filter=".{{ focus | slugify }}" data-mixitup-control>{{ focus }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="projects">
      {% for project in site.projects %}
        {% unless project.status == 'discontinued' or project.status == 'graduated' %}
        <div class="row align-items-center mix {{ project.focus | slugify }} {% cycle 'education', 'resettlement', 'employment', 'nutrition', 'safety', 'financing', 'other' %}">
          <div class="col-md-6">
            <div class="content">
              <a href="{{ project.url }}" class="bg-image aspect-4x3" style="background-image: url({{ project.featured_image | default: site.placeholders.thumbnail_4x3 }})"></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="content">
              <h3>{{ project.title }} {% if project.focus %}| <small><em>{{ project.focus }}</em></small>{% endif %}</h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis</p>
              <a href="{{ project.url }}" class="btn btn-dark">Explore Project</a>
            </div>
          </div>
        </div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</section>
{% include bring-together.html %}