---
layout: default
title: Publications
featured_publications:
  - test-publication
---

<section id="featured-publications">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h1 class="editable">Featured Publications</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content">
          {% for publication in site.publications %}
            {% if publication.featured == true %}
            <div class="row publication-row no-gutters bg-light">
              {% if publication.image %}
                <div class="col-md-4">
                  <div class="bg-image aspect-1x1" style="background-image: url('{{ publication.image }}')"></div>
                </div>
                <div class="col-lg-8">
                  <div class="p-3 py-lg-2 px-lg-5">
                    <h3>{{ publication.title }} | 
                      {% for focus in publication.focuses %}
                      <em><small>{{ focus }}</small></em>
                      {% unless forloop.last %},{% endunless %}
                      {% endfor %}
                    </h3>
                    <p>{{ publication.description | truncate: 185 }}</p>
                  </div>
                </div>
              {% else %}
                <div class="col-12">
                  <div class="p-5">
                    <h3>{{ publication.title }} |
                      {% for focus in publication.focuses %}
                      <em><small>{{ focus }}</small></em></h3>
                    {% endfor %}
                    <p>{{ publication.description | truncate: 185 }}</p>
                  </div>
                </div>
              {% endif %}
              <a href="{{ publication.download_url }}" target="_blank" class="btn btn-dark">Find out more</a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="publication-library">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2 class="editable">Publication Library</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center filters">
      <div class="col-md-6 col-lg-3">
        <div class="content">
          Filter by type
          <div class="dropdown" role="group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <span active-region-filter>All</span>
              <span class="arrow-down"></span>
            </button>
            <ul class="dropdown-menu" data-filter-group="">
              <li class="dropdown-item">
                <a class="filter" data-filter="all" data-active-text="" data-mixitup-control>all</a>
              </li>
              <li class="dropdown-item">
                <a class="filter" data-filter="" data-active-text="" data-mixitup-control>Option One</a>
              </li>
              <li class="dropdown-item">
                <a class="filter" data-filter="" data-active-text="" data-mixitup-control>Option Two</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="content">
          Filter by focus
          <div class="dropdown" role="group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <span active-region-filter>All</span>
              <span class="arrow-down"></span>
            </button>
            <ul class="dropdown-menu" data-filter-group="">
              <li class="dropdown-item">
                <a class="filter" data-filter="all" data-active-text="" data-mixitup-control>all</a>
              </li>
              <li class="dropdown-item">
                <a class="filter" data-filter="" data-active-text="" data-mixitup-control>Option One</a>
              </li>
              <li class="dropdown-item">
                <a class="filter" data-filter="" data-active-text="" data-mixitup-control>Option Two</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="content">
          Filter by location
          <div class="dropdown" role="group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <span active-region-filter>All</span>
              <span class="arrow-down"></span>
            </button>
            <ul class="dropdown-menu" data-filter-group="">
              <li class="dropdown-item">
                <a class="filter" data-filter="all" data-active-text="" data-mixitup-control>all</a>
              </li>
              <li class="dropdown-item">
                <a class="filter" data-filter="" data-active-text="" data-mixitup-control>Option One</a>
              </li>
              <li class="dropdown-item">
                <a class="filter" data-filter="" data-active-text="" data-mixitup-control>Option Two</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="content">
          Filter by year
          <div class="dropdown" role="group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <span active-region-filter>All</span>
              <span class="arrow-down"></span>
            </button>
            <ul class="dropdown-menu" data-filter-group="">
              <li class="dropdown-item">
                <a class="filter" data-filter="all" data-active-text="" data-mixitup-control>all</a>
              </li>
              <li class="dropdown-item">
                <a class="filter" data-filter="" data-active-text="" data-mixitup-control>Option One</a>
              </li>
              <li class="dropdown-item">
                <a class="filter" data-filter="" data-active-text="" data-mixitup-control>Option Two</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content">
          {% for publication in site.publications %}
            {% unless publication.featured == true %}
              {% assign slug = publication.focuses.first %}
              {% if publication.image %}
                <div class="row publication-row no-gutters bg-light border-{{ slug }}">
                  <div class="col-md-4 col-lg-3">
                    <div class="bg-image aspect-1x1" style="background-image: url('{{ publication.image }}')"></div>
                  </div>
                  <div class="col-lg-9">
                    <div class="p-3 py-lg-2 px-lg-5">
                      <p class="mb-0"><em>{% for focus in publication.focuses %}{{focus }}{% unless forloop.last%},{% endunless %}{% endfor %}</em></p>
                      <h3>{{ publication.title }}</h3>
                      <p><em>{{ publication.date_range }} {% if publication.location %}| {{ publication.location }}{% endif %}</em></p>
                      <p><small>{{ publication.description | truncate: 185 }}</small></p>
                    </div>
                  </div>
                  <a href="{{ publication.download_url }}" target="_blank" class="btn btn-dark">Find out more</a>
                </div>
              {% else %}
                <div class="row publication-row no-gutters bg-light border-{{ slug }}">
                  <div class="col-12">
                    <div class="p-5">
                      <p class="mb-0">
                        <em>{% for focus in publication.focuses %}{{focus }}{% unless forloop.last%},{% endunless %}{% endfor %}</em>
                      </p>
                      <h3>{{ publication.title }}</h3>
                      <p><em>{{ publication.date_range }} {% if publication.location %}| {{ publication.location }}{% endif %}</em></p>
                      <p>{{ publication.description | truncate: 185 }}</p>
                    </div>
                  </div>
                  <a href="{{ publication.download_url }}" target="_blank" class="btn btn-dark">Find out more</a>
                </div>
              {% endif %}
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% include bring-together.html%}