---
layout: default
title: Team
---

<div class="bg-image aspect-wide" style="background-image: url(https://via.placeholder.com/1800x500?text=Hero+image)"></div>
<section class="bg-plus bg-right bg-no-repeat pt-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h1 class="bordered-heading bordered-orange">Who are we?</h1>
          <p>Airbel is a team of design-thinkers and strategists. Together with IRC technical experts and field staff, we design and scale new solutions that will reach more people and have a bigger impact in some of the most challenging places around the world. Our team includes:</p>
        </div>
      </div>
    </div>
    <div class="row">
      {% for i in (1..16) %}
      <div class="col-md-6">
        <div class="media content align-items-center team-member">
          <div class="w-25">
            <div class="bg-image aspect-1x1" style="background-image: url(https://via.placeholder.com/500x500)"></div>
          </div>
          <div class="media-body pl-4">
            <h3 class="mb-0">Firstname Lastname</h3>
            <p><em>Role</em></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <h2>Advisors</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for i in (1..2) %}
      <div class="col-md-6">
        <div class="media content align-items-center team-member">
          <div class="w-25">
            <div class="bg-image aspect-1x1" style="background-image: url(https://via.placeholder.com/500x500)"></div>
          </div>
          <div class="media-body pl-4">
            <h4>Firstname Lastname</h4>
            <p><em>Role</em></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    {% include work-with-us.html %}
  </div>
</section>
<div class="bg-image aspect-wide" style="background-image: url(https://via.placeholder.com/1800x500?text=Hero+image)"></div>
<section class="pt-0"> 
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2 class="bordered-heading bordered-orange">Where we work</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          {% include map.html %}
        </div>
        <div class="content text-center">
          <a href="/portfolio" class="btn btn-warning mt-5">See all Airbel projects</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include bring-together.html %}