---
layout: default
title: User Centered Design
---

<section class="bg-plus bg-right bg-no-repeat">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="editable">
            <h1 class="h2">User Centered Design<br />at the Airbel Impact Lab</h1>
            <p>We are a team of design-thinkers and strategists, developing new solutions that address big humanitarian challenges.</p>
          </div>
        </div>
      </div>
    </div>



  </div>
</section>
<section class="bg-light">
  <div class="container">
    {% include work-with-us.html %}
  </div>
</section>
{% include bring-together.html %}