---
layout: default
title: Who We Are  
board_and_advisors:
  - name: Firstname Lastname
    description_1: PhD Public and Urban Policy
    description_2: Milano School of Public Engagement
    medium_link:
  - name: Firstname Lastname
    description_1: PhD Public and Urban Policy
    description_2: Milano School of Public Engagement
    medium_link:
  - name: Firstname Lastname
    description_1: PhD Public and Urban Policy
    description_2: Milano School of Public Engagement
    medium_link:
  - name: Firstname Lastname
    description_1: PhD Public and Urban Policy
    description_2: Milano School of Public Engagement
    medium_link:
  - name: Firstname Lastname
    description_1: PhD Public and Urban Policy
    description_2: Milano School of Public Engagement
    medium_link:
  - name: Firstname Lastname
    description_1: PhD Public and Urban Policy
    description_2: Milano School of Public Engagement
    medium_link:
    
zolberg_ird_fellows:
  - name: Firstname Lastname
    description_1: PhD Public and Urban Policy
    description_2: Milano School of Public Engagement
    medium_link:
  - name: Firstname Lastname
    description_1: PhD Public and Urban Policy
    description_2: Milano School of Public Engagement
    medium_link:
  - name: Firstname Lastname
    description_1: PhD Public and Urban Policy
    description_2: Milano School of Public Engagement
    medium_link:
  - name: Firstname Lastname
    description_1: PhD Public and Urban Policy
    description_2: Milano School of Public Engagement
    medium_link:
  - name: Firstname Lastname
    description_1: PhD Public and Urban Policy
    description_2: Milano School of Public Engagement
    medium_link:
  - name: Firstname Lastname
    description_1: PhD Public and Urban Policy
    description_2: Milano School of Public Engagement
    medium_link:
---

<section class="bg-single-plus bg-right bg-top bg-no-repeat pt-md-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="content">
          <h1 class="editable">
            What is Airbel?
          </h1>
          <p class="editable">
            <mark class="bg-primary">The Airbel Impact Lab at IRC is a team of researchers, strategists and innovators committed to the accelerated design,
            rigorous evaluation and cost-effective scaling of the most impactful solutions supporting people affected by crisis.</mark>
          </p>
          <div class="editable">
            <p>By bringing together field staff, designers, strategists, researchers and technical experts, we aim to uncover and
            nurture ideas that make a big impact on people’s safety, health, education, income and power.</p>
            <p>Innovation has always been the spirit of the International Rescue Committee. The early IRC — founded in 1933 at the call
            of Albert Einstein — invented new ways to help people escape the horrors of World War II. Today, our commitment to
            research and development is pioneering changes in products and processes that, in turn, are changing lives.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="content">
          <div class="bg-image aspect-1x1 underlay underlay-orange"
            style="background-image: url(/img/airbel-intro.jpg)"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="testimonial" class="bg-orange text-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content text-center editable">
          <p><strong>&ldquo;Achieving large scale, cost-effective, life-changing impact requires bringing in diverse expertise and learning from
          multiple perspectives.Our research helps us understand some of the world’s toughest problems and the effectiveness of
          current interventions. This is paired with a design-led iterative approach focusing on meeting the needs and desires of
          people by combining the best of a variety of disciplines and methods. We continuously iterate, drawing on these skills
          to then test, pilot, and scale our innovations&rdquo;</strong></p>
          <p>Jeannie Annan</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="focus" class="bg-right bt-top bg-no-repeat">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2>Our diverse expertise</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content">
          <ul class="nav nav-tabs flex-column" id="focus-tabs" role="tablist">
            {% for expertise in site.expertise_areas %}
            {% assign slug = expertise.title | slugify %}
            <li class="nav-item">
              <a class="nav-link {% cycle 'border-blue', 'border-blue-dark', 'border-yellow', 'border-green', 'border-purple', 'border-orange', 'border-red'  %} {% if forloop.first %}active{% endif %}" data-toggle="tab"
                href="#{{ slug }}">{{ expertise.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <div class="content">
          <div class="tab-content" id="focus-tab-content">
            {% for expertise in site.expertise_areas %}
            {% assign slug = expertise.title | slugify %}
            <div class="tab-pane fade show {% cycle 'bg-blue', 'bg-blue-dark', 'bg-yellow', 'bg-green', 'bg-purple', 'bg-orange', 'bg-red'  %} {% if forloop.first %}active{% endif %}" id="{{ slug }}">
              <h3><img src="{{ expertise.icon_path }}" class="img-fluid" alt="{{ expertise.title }} Icon"> {{ expertise.title }}</h3>
              <p>{{ expertise.description | default: 'Please enter a short description...' }}</p>
              <p><a href="/portfolio?focus={{expertise.title | slugify }}#projectList" class="text-white">See projects that work in this
                area</a></p>
              <p><a href="/portfolio?focus={{expertise.title | slugify }}#projectList" class="text-white">See team members that work in
                this area</a></p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-image aspect-wide" style="background-image: url(/img/who-hero.jpg)"></div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2>Our team of experts</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2>Our Board and Advisors</h2>
          {% include carousel-board.html %}
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2>Zolberg-IRD Fellows</h2>
          {% include carousel-fellows.html %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h3>Become a Fellow</h3>
          <p>We are pleased to offer student fellowships through a partnership with the Zolberg Institute at the New School.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h3 class="h2">Work with Us</h3>
          <p>Are you a design or systems thinker interested in solving global humanitarian challenges? Get in touch or see current
            openings at IRC.</p>
          <a href="#" class="btn btn-dark">IRC Careers</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- may need to modify include depending if text if going to change site wide-->
{% include bring-together.html%}