---
layout: default
title: Who We Are
board_advisors_and_partners:
  - title: Board committee
    people:
      - name: Alan Batkin
        description: Chair Emeritus of IRC
        medium_link:
      - name: Alex Laskey
        description: |-
          Board Advisor
          Founder, Executive Chair Rewiring America
          Founder, CEO Carecubes
        medium_link:
      - name: Amel Najjar
        description: Founding Executive Director of Children of War Foundation
        medium_link:
      - name: Ben Cushman
        description: 'Senior Board Volunteer '
        medium_link:
      - name: Dayle Haddon
        description: Founder and CEO of WomenOne
        medium_link:
      - name: Greg Behrman
        description: CEO of NationSwell
        medium_link:
      - name: Indra Nooyi
        description: Formerly Chairman and CEO of PepsiCo
        medium_link:
      - name: Joseph Tabarani
        description: Founder and Chief Executive of Principia Analytica
        medium_link:
      - name: Laurent Desmangles
        description: >-
          Board Chair

          Investor, Advisor, Board Member, Ex Senior Partner, Boston Consulting
          Group
        medium_link:
      - name: Mariam Azarm
        description: Founder of Klosters Institute; Founder of Altru Institute
        medium_link:
      - name: Mehmood Khan
        description: CEO, Life Biosciences Inc.
        medium_link:
      - name: Sarah LaFleur
        description: Founder and CEO, MM.LaFleur
        medium_link:
      - name: Stephanie Mehta
        description: Editor-in-chief, Fast Company
        medium_link:
  - title: Advisory network
    people:
      - name: Ahmed Mushfiq Mobarak
        description: >-
          Founder and faculty director, Yale Research Initiative on Innovation
          and Scale (Y-RISE)
        medium_link:
      - name: Ann Mei Chang
        description: Former chief innovation officer, USAID
        medium_link:
      - name: Ben Cushman
        description: Board Chair, Building Markets; Former COO, Supercuts
        medium_link:
      - name: Betsy Paluck
        description: >-
          Deputy director, The Kahneman-Treisman Center for Behavioral Science
          and Policy
        medium_link:
      - name: Brigitte Hoyer Gosselink
        description: Principal, Google.org; AI for Social Good initiative lead
        medium_link:
      - name: Carter Millican
        description: >-
          Strategic design director, BCG Digital Ventures; founder, Millican.
          growth consultancy
        medium_link:
      - name: David Mckenzie
        description: >-
          Lead economist, World Bank Development Research Group, Finance and
          Private Sector Development Unit
        medium_link:
      - name: Jeremy Weinstein
        description: Executive director, Stanford Immigration Policy Lab
        medium_link:
      - name: Kaosar Afsana
        description: Professor of Public Health, BRAC University
        medium_link:
      - name: Lant Pritchett
        description: >-
          Professor of the Practice of International Development, Kennedy School
          of Government at Harvard University
        medium_link:
      - name: Lori Heise
        description: >-
          Professor of Social Epidemiology, Johns Hopkins Bloomberg School of
          Public Health (JHSPH)
        medium_link:
      - name: Paul Spiegal
        description: >-
          Director, John Hopkins Center for Humanitarian Health; Professor, John
          Hopkins Bloomberg School of Public Health
        medium_link:
      - name: Sarah Hunter
        description: >-
          Director of Global Public Policy at X, the Moonshot Factory (formerly
          Google X)
        medium_link:
      - name: Stefon Dercon
        description: >-
          Director of the Centre for the Study of African Economies, Oxford
          University; former chief economist, DFID
        medium_link:
  - title: Design partners
    people:
      - name: Abigail Nydam
        description: Global Director Design, iDE
        medium_link:
      - name: Augusta Meill
        description: Founder and Director, Agncy Design
        medium_link:
      - name: Chris Larkin
        description: Director of Impact, Ideo.org
        medium_link:
      - name: Colin O' Donnell
        description: Entrepreneur, Technologist, and Product Designer
        medium_link:
      - name: Katie Skibinski
        description: VP of Digital Products, Planned Parenthood
        medium_link:
      - name: Krystina Castella
        description: Designer, Author, and Educator, ArtCenter College of Design
        medium_link:
      - name: Maggie Breslin
        description: Director, The Patient Revolution
        medium_link:
      - name: Mari Nakano
        description: Design Director, NYC Mayor’s Office for Economic Opportunity
        medium_link:
      - name: Matthew Manos
        description: Founder, verynice
        medium_link:
      - name: Melanie Kahl
        description: Facebook Community Leadership Program
        medium_link:
      - name: Ulrik Hogreb
        description: Design Director, WeWork
        medium_link:
---
<div class="d-flex">
  <div>
    <img src="/img/airbel-whoweare-top-01.jpg" class="img-fluid" alt="Who we are image" />
  </div>
  <div>
    <img src="/img/airbel-whoweare-top-02.jpg" class="img-fluid" alt="Who we are image" />
  </div>
  <div>
    <img src="/img/airbel-whoweare-top-03.jpg" class="img-fluid" alt="Who we are image" />
  </div>
  <div>
    <img src="/img/airbel-whoweare-top-04.jpg" class="img-fluid" alt="Who we are image" />
  </div>
</div>
<section class="bg-single-plus bg-right bg-top bg-no-repeat">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10">
        <div class="content">
          <h1 class="editable">
            Who we are
          </h1>
          <div class="editable">
            <p>The Airbel Impact Lab combines on-the-ground expertise with disciplines like research, human-centered design, costing analysis, and behavioral insights. With the goal towards scale and cost-efficiency, this helps us create, test, and drive to scale solutions with the potential for life-changing impact.</p>
            <p>Our strength is in our unusual blend of people. We are embedded in a large implementing organization with deep technical knowledge and implementation experience. We pair this with designers, academic researchers, strategists, and behavioral scientists together with our external partners from academia, the private and non-profit sectors and government.</p>
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="testimonial" class="text-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content text-center editable">
          <p>&ldquo;Achieving large scale, cost-effective, life-changing impact requires tackling problems from multiple perspectives. We bring together diverse teams of technical experts, researchers, designers, behavioral scientists, and strategists to design and test potential solutions to some of the most pressing problems people face in conflict and crisis."</p>
          <p class="mb-0"><mark class="bg-white text-orange">Jeannie Annan, Chief Scientist</mark></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="focus" class="bg-right bt-top bg-no-repeat">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content editable">
          <h2>Our diverse expertise</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content">
          <ul class="nav nav-tabs flex-column" id="expertise-tabs" role="tablist">
            {% for expertise in site.expertise_areas %}
            {% assign slug = expertise.title | slugify %}
            <li class="nav-item">
              <a class="nav-link {% cycle 'border-blue', 'border-blue-dark', 'border-yellow', 'border-green', 'border-purple', 'border-orange', 'border-red'  %} {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{ slug }}">{{ expertise.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <div class="content">
          <div class="tab-content" id="expertise-tab-content">
            {% for expertise in site.expertise_areas %}
            {% assign slug = expertise.title | slugify %}
            <div class="tab-pane fade show {% cycle 'bg-blue', 'bg-blue-dark', 'bg-yellow', 'bg-green', 'bg-purple', 'bg-orange', 'bg-red'  %} {% if forloop.first %}active{% endif %}" id="{{ slug }}">
              <h3><img src="{{ expertise.icon_path }}" class="img-fluid" alt="{{ expertise.title }} Icon" /> {{ expertise.title }}</h3>
              <p>{{ expertise.description | default: 'Please enter a short description...' }}</p>
              <p><a href="{{ page.url }}?filterString={{ slug }}#team" class="text-white"><img src="/img/icons/projects-team-icon.png" alt="Projects icon" /><small>See team members that work in
              this area</small></a></p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-image aspect-wide" style="background-image: url(/img/airbel-whoweare-divider.jpg)"></div>
{% include components/team.html %}
<section class="bg-gray-alt">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content editable">
          <h2>Our board and advisors</h2>
        </div>
      </div>
    </div>
    {% include board-advisors-partners-tabs.html %}
  </div>
</section>
<!-- can we get rid of this become a fellow section? -->
<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h3>Become a Fellow</h3>
          <p>We are pleased to offer student fellowships through a partnership with the Zolberg Institute at the New School.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h3 class="h2">Work with Us</h3>
          <p>Are you a design or systems thinker interested in solving global humanitarian challenges? Get in touch or see current
            openings at IRC.</p>
          <a href="#" class="btn btn-dark">IRC Careers</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- may need to modify include depending if text if going to change site wide-->
{% include bring-together.html%}
